Repository LostArtefacts/TRX, pull requests merged in 2024-11, with the labels that each got.

#1782 tr1/lara: restore original non-standard water exit
  src/tr1/game/lara/misc.c
Labels: TRX bug, Unreleased, TR1

#1784 tr1/option_control: fix controls menu height
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_control.c
Labels: TRX bug, TR1

#1791 tr2/output: fix crash with z-buffer disabled
  docs/tr2/CHANGELOG.md
  src/tr2/game/hwr.c
Labels: TRX bug, TR2

#1792 tr2/objects/door: fix initialising doors
  src/tr2/game/objects/general/door.c
Labels: TRX bug, Unreleased, TR2

#1790 tr2/gun: fix grenades launching too slow
  docs/tr2/CHANGELOG.md
  src/tr2/global/const.h
Labels: TRX bug, TR2

#1798 tr1/objects/door: fix initialising doors
  src/tr1/game/objects/general/door.c
Labels: TRX bug, Unreleased, TR1

#1801 tr2/stats: fix game hanging if exited during credits
  src/tr2/game/shell/common.c
Labels: OG bug, TR2

#1799 tr2/creatures/dragon: count dragon kill only once
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/gun/gun_misc.c
  src/tr2/game/objects/creatures/dragon.c
Labels: OG bug, TR2

#1805 tr2/objects/grenade: test target item intelligence and status
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/grenade.c
Labels: OG bug, TR2

#1806 tr2/objects/harpoon_bolt: test target item status
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/harpoon_bolt.c
Labels: OG bug, TR2

#1807 config: use strings for role inputs
  src/libtrx/game/input/backends/controller.c
  src/libtrx/game/input/backends/keyboard.c
  src/libtrx/game/input/common.c
  src/libtrx/include/libtrx/game/enum_map.def
  src/libtrx/include/libtrx/game/input/backends/base.h
  src/libtrx/include/libtrx/game/input/common.h
  src/libtrx/include/libtrx/game/input/role.h
  src/libtrx/include/libtrx/game/input/roles.def
  src/libtrx/include/libtrx/game/input/roles_tr1.def
  src/libtrx/include/libtrx/game/input/roles_tr2.def
  src/libtrx/include/libtrx/game/input/state.h
  src/tr1/global/enum_map.c
  src/tr2/global/enum_map.c
Labels: Internal, Enhancement, TR2, TR1

#1808 input: fix potential freezes when remapping keys
  docs/tr1/CHANGELOG.md
  src/libtrx/game/input/common.c
  src/libtrx/include/libtrx/game/input/common.h
  src/tr2/game/option/option_controls.c
Labels: TRX bug, TR2, TR1

#1810 tr2/skidoo: use common approach to kill enemies
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/decomp/skidoo.c
Labels: OG bug, TR2

#1812 libtrx/text: swap sound and music glyph definitions
  src/libtrx/game/text.def
Labels: TRX bug, Unreleased, TR2, TR1

#1809 tr2/option: fix music resuming on volume change
  docs/tr2/CHANGELOG.md
  src/tr2/game/inventory/common.c
  src/tr2/game/music.h
  src/tr2/game/music/music_main.c
Labels: OG bug, TR2

#1813 tr2/input: allow holding up/down in menus
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/clock.c
  src/tr2/game/clock.h
  src/tr2/game/input.c
Labels: Feature, TR2

#1816 text: fix z-order issues
  src/libtrx/game/text.c
  src/tr2/game/requester.c
  src/tr2/game/text.c
Labels: TRX bug, TR2

#1817 tr2/objects/door: fix initialising doors
  src/tr2/game/objects/general/door.c
Labels: TRX bug, TR2

#1815 tr1/savegame: save and load ambient music timestamp
  docs/tr1/CHANGELOG.md
  src/tr1/config.c
  src/tr1/config.h
  src/tr1/config_map.def
  src/tr1/game/savegame/savegame_bson.c
  src/tr1/global/enum_map.def
  src/tr1/global/types.h
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/tr1/config/TR1X_ConfigTool/Resources/specification.json
Labels: TRX bug, TR1

#1820 tr1/objects/scion3: save scion hitpoints
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/tr1/game/objects/general/scion3.c
  src/tr1/game/savegame/savegame_legacy.c
Labels: OG bug, TR1

#1825 tr2/fmv: stop active FMV if game is exited
  src/tr2/decomp/fmv.c
Labels: TRX bug, Unreleased, TR2

#1824 tr1/lara: merge animation injections
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr1/ship/data/injections/lara_animations.bin
  data/tr1/ship/data/injections/lara_jumping.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  src/libtrx/include/libtrx/game/lara/enum_tr1.h
  src/tr1/game/inject.c
  src/tr1/game/lara/col.c
  src/tr1/game/lara/col.h
  src/tr1/game/lara/state.c
  src/tr1/game/lara/state.h
Labels: Enhancement, TR1

#1826 tr1/lara: add responsive swim cancel option
  data/tr1/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  src/tr1/config.h
  src/tr1/config_map.def
  src/tr1/game/lara/state.c
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/tr1/config/TR1X_ConfigTool/Resources/specification.json
Labels: Feature, Data, TR1

#1829 game: fix new saves not having the save count in the passport
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/game.c
  src/tr2/game/savegame/common.c
Labels: OG bug, TR2

#1839 tr2/stats: fix unitialized secrets text
  src/tr2/decomp/stats.c
Labels: TRX bug, Unreleased, TR2

#1852 build: pass staticdeps parameter to libtrx
  src/tr1/meson.build
  src/tr2/meson.build
Labels: Internal, TR2, TR1

#1855 give_item: fix give command not checking if an object is loaded
  src/libtrx/game/console/cmd/give_item.c
Labels: TRX bug, Unreleased, TR1

#1858 libtrx/config: refactor enforced config approach
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  src/libtrx/config/common.c
  src/libtrx/config/file.c
  src/libtrx/game/console/history.c
  src/libtrx/include/libtrx/config/common.h
  src/libtrx/include/libtrx/config/file.h
  src/tr1/config.c
  src/tr1/game/gameflow.c
  src/tr1/game/gameflow.h
  src/tr1/game/shell.c
  src/tr1/game/shell.h
  src/tr2/config.c
  src/tr2/game/shell/common.c
  src/tr2/game/shell/common.h
  tools/config/TRX_ConfigToolLib/Models/MainWindowViewModel.cs
  tools/config/TRX_ConfigToolLib/Models/Specification/Configuration.cs
  tools/config/TRX_ConfigToolLib/Models/TRXConstants.cs
  tools/tr1/config/TR1X_ConfigTool/Resources/const.json
  tools/tr2/config/TR2X_ConfigTool/Resources/const.json
Labels: Enhancement, TR2, TR1

#1866 tr2/output: fix drawing certain rooms
  docs/tr2/CHANGELOG.md
  src/tr2/game/output.c
  src/tr2/game/overlay.c
  src/tr2/game/viewport.c
Labels: TRX bug, TR2

#1865 tr2/console: fix /give not working with flares
  src/tr2/game/objects/vars.c
Labels: TRX bug, Unreleased, TR2

#1859 boat/skidoo: fix Lara getting stuck in her hit animation
  docs/tr1/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/decomp/skidoo.c
  src/tr2/game/objects/vehicles/boat.c
Labels: OG bug, TR2

#1864 libtrx/console: fix play_level command action
  docs/tr1/CHANGELOG.md
  src/libtrx/game/console/cmd/play_level.c
  src/tr2/game/gameflow/gameflow_new.c
Labels: TRX bug, TR1

#1869 tr2/lara/state: fix surface to swim input check
  docs/tr2/CHANGELOG.md
  src/tr2/game/lara/state.c
Labels: TRX bug, TR2

#1871 output: fix clipping sprites
  src/tr2/game/output.c
  src/tr2/game/overlay.c
  src/tr2/game/viewport.c
  src/tr2/game/viewport.h
Labels: TRX bug, Unreleased, TR2

#1872 tr1/gameflow: add support for item descriptions
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  src/libtrx/game/objects/names.c
  src/libtrx/game/text.c
  src/libtrx/game/ui/widgets/label.c
  src/libtrx/include/libtrx/game/objects/names.h
  src/libtrx/include/libtrx/game/ui/widgets/label.h
  src/libtrx/include/libtrx/strings/common.h
  src/libtrx/strings/common.c
  src/tr1/config.h
  src/tr1/config_map.def
  src/tr1/game/game_string.def
  src/tr1/game/gameflow.c
  src/tr1/game/gameflow.h
  src/tr1/game/inventory/inventory_ring.c
  src/tr1/game/inventory/inventory_ring.h
  src/tr1/game/option/option.c
  src/tr1/game/option/option_examine.c
  src/tr1/game/option/option_examine.h
  src/tr1/game/phase/phase_inventory.c
  src/tr1/game/ui/widgets/paginator.c
  src/tr1/game/ui/widgets/paginator.h
  src/tr1/global/types.h
  src/tr1/meson.build
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/tr1/config/TR1X_ConfigTool/Resources/specification.json
  tools/update_gameflow
Labels: Feature, TR1

#1878 docs: fix vehicle hit changelog entry
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Unreleased

#1893 tr2/viewport: fix altering fov
  src/tr2/game/viewport.c
Labels: TRX bug, Unreleased, TR2

#1892 overlay: fix demo text overlapping with bottom center enemy bar
  docs/tr1/CHANGELOG.md
  src/tr1/game/overlay.c
Labels: TRX bug, TR1

#1905 tr2/music_main: refactor music track handling
  docs/tr2/CHANGELOG.md
  docs/tr2/progress.svg
  docs/tr2/progress.txt
  src/tr2/decomp/decomp.c
  src/tr2/decomp/skidoo.c
  src/tr2/decomp/stats.c
  src/tr2/game/music.h
  src/tr2/game/music/music_main.c
  src/tr2/game/objects/general/gong_bonger.c
  src/tr2/game/overlay.c
  src/tr2/game/room.c
  src/tr2/global/vars_decomp.h
  src/tr2/inject_exec.c
Labels: TRX bug, TR2

#1907 config_tool: add support for searching
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  tools/config/TRX_ConfigToolLib/Controls/TRXConfigWindow.xaml
  tools/config/TRX_ConfigToolLib/Models/CategoryViewModel.cs
  tools/config/TRX_ConfigToolLib/Models/MainWindowViewModel.cs
  tools/config/TRX_ConfigToolLib/Models/Specification/BaseProperty.cs
  tools/config/TRX_ConfigToolLib/Resources/Lang/en.json
  tools/config/TRX_ConfigToolLib/Resources/Lang/es.json
  tools/config/TRX_ConfigToolLib/Resources/Lang/fr.json
  tools/config/TRX_ConfigToolLib/Resources/Lang/it.json
  tools/config/TRX_ConfigToolLib/Resources/close.png
  tools/config/TRX_ConfigToolLib/Resources/styles.xaml
  tools/config/TRX_ConfigToolLib/TRX_ConfigToolLib.csproj
  tools/config/TRX_ConfigToolLib/Utils/FastObservableCollection.cs
  tools/config/TRX_ConfigToolLib/Utils/TextUtils.cs
Labels: Feature, TR2, TR1

#1908 config_tool: fix linter whitespace error
  tools/config/TRX_ConfigToolLib/Controls/TRXConfigWindow.xaml
Labels: Internal

#1911 tr2/traps/rolling_ball: fix inactive boulder collision test
  src/tr2/game/objects/traps/rolling_ball.c
Labels: TRX bug, Unreleased, TR2

#1914 trx/audio: fix invalid audio freeing
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/audio_stream.c
Labels: TRX bug, TR2, TR1

#1913 tr1: fix various memory leaks
  src/libtrx/engine/audio_stream.c
  src/libtrx/engine/image.c
  src/libtrx/engine/video.c
  src/libtrx/game/console/history.c
  src/libtrx/game/text.c
  src/libtrx/game/ui/widgets/console.c
  src/tr1/game/gameflow.c
  src/tr1/game/level.c
  src/tr1/game/packer.c
Labels: Internal, TR1

#1924 tr2: fix regression in DisplayCredits
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/decomp.c
Labels: TRX bug, TR2

#1923 build: change uthash packaging
  .dockerignore
  .github/workflows/job_build_tr1_macos.yml
  .gitignore
  src/libtrx/meson.build
  src/libtrx/subprojects/uthash.wrap
  tools/tr1/docker/game-linux/Dockerfile
  tools/tr1/docker/game-win/Dockerfile
  tools/tr2/docker/game-win/Dockerfile
Labels: Internal

#1932 tr2/savegame: test object IDs rather than function pointers
  src/libtrx/include/libtrx/game/objects/vars.h
  src/tr2/decomp/savegame.c
  src/tr2/game/objects/vars.c
Labels: TRX bug, TR2

#1947 tr2/savegame: fix initialization of armed skidoo
  src/tr2/decomp/savegame.c
Labels: TRX bug, Unreleased, TR2

#1949 tr1/objects/door: fix flipmap door initialization
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/general/door.c
Labels: TRX bug, TR1

#1951 tr2/text: fix missing secret sprites
  src/libtrx/game/text_tr2.def
Labels: TRX bug, Unreleased, TR2

#1952 tr1/fmv: fix missing files muting the game
  docs/tr1/CHANGELOG.md
  src/tr1/game/fmv.c
Labels: TRX bug, TR1

#1953 tr1/option: fix crash on toggling bilinear filter
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_passport.c
  src/tr1/game/savegame.h
Labels: TRX bug, TR1

#1956 tr1/option: fix overlapping text with 1.9 font scale
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_graphics.c
Labels: TRX bug, TR1

#1957 libtrx/level/common: make common mesh reader functions
  src/libtrx/game/level/common.c
Labels: Internal, TR1

#1961 tr2/data: fix triggers and ladder in Catacombs
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/catacombs_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#1965 tr2/objects/detonator: check for chosen inventory object
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/detonator.c
Labels: OG bug, TR2

#1972 tr2/data: add pickup item rotation injections
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/barkhang_itemrots.bin
  data/tr2/ship/data/injections/catacombs_itemrots.bin
  data/tr2/ship/data/injections/deck_itemrots.bin
  data/tr2/ship/data/injections/diving_itemrots.bin
  data/tr2/ship/data/injections/floating_itemrots.bin
  data/tr2/ship/data/injections/house_itemrots.bin
  data/tr2/ship/data/injections/opera_itemrots.bin
  data/tr2/ship/data/injections/palace_itemrots.bin
  data/tr2/ship/data/injections/rig_itemrots.bin
  data/tr2/ship/data/injections/tibet_itemrots.bin
  data/tr2/ship/data/injections/wall_itemrots.bin
  data/tr2/ship/data/injections/wreck_itemrots.bin
  data/tr2/ship/data/injections/xian_itemrots.bin
  docs/tr2/CHANGELOG.md
  src/tr2/config.h
  src/tr2/config_map.def
  src/tr2/game/inject.c
  tools/tr2/config/TR2X_ConfigTool/Resources/Lang/en.json
  tools/tr2/config/TR2X_ConfigTool/Resources/specification.json
Labels: Feature, Data, TR2

#1974 tr2/data: convert Catacombs music triggers to pads
  data/tr2/ship/data/injections/catacombs_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/inject.c
Labels: OG bug, Data, TR2
