Repository LostArtefacts/TRX, pull requests merged in 2024-12, with the labels that each got.

#1980 tr2: port SE_ReadAppSettings
  docs/tr2/progress.svg
  docs/tr2/progress.txt
  src/tr2/decomp/decomp.h
  src/tr2/decomp/decomp2.c
  src/tr2/global/funcs.h
  src/tr2/inject_exec.c
Labels: Internal

#1982 tr1/option/option_passport: move passport arrows based on text size
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_passport.c
Labels: TRX bug, TR1

#1988 libtrx/rooms/common: fix adjoining room array limit
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/rooms/common.c
Labels: OG bug, TR2

#1993 tr2/objects/final_level_counter: fix final cutscene issues
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/final_level_counter.c
Labels: OG bug, TR2

#1994 Config refactor
  src/libtrx/config/common.c
Labels: Internal

#2004 tr1/output: fix clipping near objects
  docs/tr1/CHANGELOG.md
  src/libtrx/gfx/3d/3d_renderer.c
  src/tr1/game/output.c
  src/tr1/game/overlay.c
  src/tr1/game/phase/phase_inventory.c
  src/tr1/global/vars.c
  src/tr1/global/vars.h
  src/tr1/specific/s_output.c
Labels: OG bug, TR1

#2007 gfx/3d: split color key blend mode to separate uniforms
  data/tr1/ship/shaders/3d.glsl
  src/libtrx/gfx/3d/3d_renderer.c
  src/libtrx/include/libtrx/gfx/3d/3d_renderer.h
  src/tr1/specific/s_output.c
Labels: Internal

#2008 tr1/data: fix mesh positions in Obelisk of Khamoon
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr1/ship/data/injections/cat_meshfixes.bin
  data/tr1/ship/data/injections/egypt_meshfixes.bin
  data/tr1/ship/data/injections/obelisk_meshfixes.bin
  docs/tr1/CHANGELOG.md
  src/tr1/game/inject.c
  src/tr1/game/inject.h
Labels: OG bug, Data, TR1

#2010 tr2/shell: fix high dpi problems
  docs/tr2/CHANGELOG.md
  src/libtrx/game/shell/common.c
  src/libtrx/gfx/2d/2d_renderer.c
  src/libtrx/include/libtrx/game/shell.h
  src/tr1/specific/s_shell.c
  src/tr2/decomp/decomp.c
Labels: OG bug, TR2

#2011 tr1/objects/door: define doors in opening rooms
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/tr1/game/objects/general/door.c
Labels: OG bug, TR1

#2015 tools: fix retrieving changelog sections text
  tools/shared/changelog.py
Labels: Internal

#2016 skidoo: fix triggers being 1 frame late
  src/tr2/decomp/skidoo.c
Labels: TRX bug, Unreleased, TR2

#2018 boat: fix triggers being 1 frame late
  src/tr2/game/objects/vehicles/boat.c
Labels: TRX bug, Unreleased, TR2

#2025 tr2/camera: use config setting for microphone position
  docs/tr2/progress.txt
  src/tr2/game/camera.c
  src/tr2/global/types_decomp.h
Labels: Unreleased, TR2

#2026 tr2/box: fix regression in Box_CalculateTarget
  docs/tr2/CHANGELOG.md
  src/tr2/game/box.c
  src/tr2/game/creature.c
Labels: TRX bug, TR2

#2029 tr1/output: fix lightnings not respecting scene depth
  src/tr1/game/game/game_draw.c
  src/tr1/game/overlay.c
Labels: TRX bug, Unreleased, TR1

#2032 tr2/output: do not subject console text to fade effects
  src/libtrx/game/text.c
  src/libtrx/include/libtrx/game/text.h
  src/tr1/game/output.c
  src/tr1/game/text.c
  src/tr2/decomp/decomp.c
  src/tr2/decomp/stats.c
  src/tr2/game/inventory/common.c
  src/tr2/game/output.c
  src/tr2/game/text.c
Labels: Enhancement, Unreleased, TR2, TR1

#2034 tr1/s_output: fix shutdown call order
  src/tr1/specific/s_output.c
Labels: TRX bug, Unreleased, TR1

#2037 tr1/objects/movable_block: add trap feature to pushblocks
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  docs/tr1/README.md
  src/libtrx/include/libtrx/game/items/types.h
  src/tr1/game/gameflow.c
  src/tr1/game/gameflow.h
  src/tr1/game/items.c
  src/tr1/game/lara/cheat.c
  src/tr1/game/lara/common.c
  src/tr1/game/lara/common.h
  src/tr1/game/lara/state.c
  src/tr1/game/objects/traps/movable_block.c
  src/tr1/game/output.c
Labels: Feature, TR1

#2041 tr2/lara/cheat: test zero or negative hit points when killing enemies
  docs/tr2/CHANGELOG.md
  src/tr2/game/creature.c
  src/tr2/game/lara/cheat.c
Labels: TRX bug, TR2

#2046 tr1/data: fix Mines boat z-fighting
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/data/injections/mines_meshfixes.bin
Labels: TRX bug, Unreleased, TR1

#2048 tr1/config-tool: small changes to the Italian translation
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
Labels: Enhancement, TR1

#2055 tr2/render: add ps1 lighting contrast modes
  data/tr1/ship/shaders/3d.glsl
  data/tr2/ship/shaders/3d.glsl
  docs/tr2/CHANGELOG.md
  src/libtrx/gfx/3d/3d_renderer.c
  src/libtrx/include/libtrx/game/enum_map.def
  src/libtrx/include/libtrx/game/input/backends/keyboard_tr2.def
  src/libtrx/include/libtrx/game/input/roles_tr2.def
  src/libtrx/include/libtrx/gfx/3d/3d_renderer.h
  src/tr2/config.h
  src/tr2/config_map.def
  src/tr2/game/input.c
  src/tr2/game/render/hwr.c
  src/tr2/game/shell/common.c
  src/tr2/game/shell/input.c
  src/tr2/global/enum_map.def
  src/tr2/global/types.h
Labels: Enhancement, TR2

#2067 Fix underwater tint for software renderer
  data/tr1/ship/shaders/2d.glsl
  data/tr2/ship/shaders/2d.glsl
  docs/tr2/CHANGELOG.md
  docs/tr2/progress.txt
  src/libtrx/gfx/2d/2d_renderer.c
  src/libtrx/include/libtrx/gfx/2d/2d_renderer.h
  src/tr2/decomp/fmv.c
  src/tr2/game/level.c
  src/tr2/game/output.c
  src/tr2/game/render/common.c
  src/tr2/game/render/common.h
  src/tr2/game/render/hwr.c
  src/tr2/game/render/priv.h
  src/tr2/game/render/swr.c
  src/tr2/global/vars_decomp.h
Labels: TRX bug, TR2

#2083 tr1/data: fix explosion sprites
  data/tr1/ship/data/injections/explosion.bin
  docs/tr1/CHANGELOG.md
Labels: TRX bug, Data, TR1

#2084 tr2: fix enemies not looking at Lara
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/creatures/bandit.c
  src/tr2/game/objects/creatures/barracuda.c
  src/tr2/game/objects/creatures/big_eel.c
  src/tr2/game/objects/creatures/big_spider.c
  src/tr2/game/objects/creatures/bird.c
  src/tr2/game/objects/creatures/bird_guardian.c
  src/tr2/game/objects/creatures/cultist.c
  src/tr2/game/objects/creatures/diver.c
  src/tr2/game/objects/creatures/dog.c
  src/tr2/game/objects/creatures/dragon.c
  src/tr2/game/objects/creatures/eel.c
  src/tr2/game/objects/creatures/jelly.c
  src/tr2/game/objects/creatures/monk.c
  src/tr2/game/objects/creatures/mouse.c
  src/tr2/game/objects/creatures/shark.c
  src/tr2/game/objects/creatures/skidoo_driver.c
  src/tr2/game/objects/creatures/spider.c
  src/tr2/game/objects/creatures/tiger.c
  src/tr2/game/objects/creatures/trex.c
  src/tr2/game/objects/creatures/winston.c
  src/tr2/game/objects/creatures/worker.c
  src/tr2/game/objects/creatures/xian_knight.c
  src/tr2/game/objects/creatures/xian_spearman.c
  src/tr2/game/objects/creatures/yeti.c
  src/tr2/game/objects/vehicles/skidoo_armed.c
Labels: TRX bug, TR2

#2089 tr1/carrier: fix initial sector selection for falling items
  docs/tr1/CHANGELOG.md
  src/tr1/game/carrier.c
Labels: TRX bug, TR1

#2077 tr1/pickup: add option for pickup aids
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr1/ship/data/injections/pickup_aid.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  docs/tr1/README.md
  src/libtrx/include/libtrx/game/objects/ids_tr1.def
  src/libtrx/include/libtrx/game/objects/names_tr1.def
  src/tr1/config.h
  src/tr1/config_map.def
  src/tr1/game/objects/effects/pickup_aid.c
  src/tr1/game/objects/effects/pickup_aid.h
  src/tr1/game/objects/general/pickup.c
  src/tr1/game/objects/setup.c
  src/tr1/game/objects/vars.c
  src/tr1/global/const.h
  src/tr1/meson.build
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/tr1/config/TR1X_ConfigTool/Resources/specification.json
Labels: Feature, TR1

#2098 tr1/ui/widgets/paginator: hide UI for empty text
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  src/tr1/game/ui/widgets/paginator.c
Labels: Enhancement, TR1

#2119 tr1/phase/phase_demo: disable swim cancel during demos
  docs/tr1/CHANGELOG.md
  src/tr1/game/phase/phase_demo.c
Labels: TRX bug, TR1

#2121 tr1/effects/flame: fix killing effect twice in fly cheat
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/effects/flame.c
Labels: TRX bug, TR1

#2130 tr2/camera: reset last camera on initialise
  docs/tr2/CHANGELOG.md
  src/tr2/game/camera.c
Labels: TRX bug, TR2

#2133 tr2: fix inventory not carried over to next level
  src/tr2/game/gameflow.c
Labels: TRX bug, Unreleased, TR2

#2137 tr2/flares: fix flare effects in shallow water
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/decomp/flares.c
Labels: OG bug, TR2

#2144 tr2/lara/hair: remove cdecl attribute
  src/tr2/game/lara/hair.c
Labels: Internal, Unreleased, TR2

#2148 tr2/vars: try to inline some of the variables
  src/tr1/game/objects/general/puzzle_hole.c
  src/tr2/decomp/decomp.c
  src/tr2/decomp/savegame.c
  src/tr2/game/camera.c
  src/tr2/game/camera.h
  src/tr2/game/fmv.c
  src/tr2/game/gameflow.c
  src/tr2/game/gameflow.h
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/item_actions.c
  src/tr2/game/items.c
  src/tr2/game/lara/misc.c
  src/tr2/game/level.c
  src/tr2/game/los.c
  src/tr2/game/lot.c
  src/tr2/game/matrix.c
  src/tr2/game/matrix.h
  src/tr2/game/objects/general/detonator.c
  src/tr2/game/objects/general/keyhole.c
  src/tr2/game/objects/general/movable_block.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/objects/general/pickup.h
  src/tr2/game/objects/general/puzzle_hole.c
  src/tr2/game/objects/general/switch.c
  src/tr2/game/objects/general/zipline.c
  src/tr2/game/option/option_compass.c
  src/tr2/game/option/option_passport.c
  src/tr2/game/option/option_sound.c
  src/tr2/game/output.c
  src/tr2/game/overlay.c
  src/tr2/game/phase/phase_demo.c
  src/tr2/game/phase/phase_game.c
  src/tr2/game/render/hwr.c
  src/tr2/game/render/swr.c
  src/tr2/game/room_draw.c
  src/tr2/game/shell/common.c
  src/tr2/global/types_decomp.h
  src/tr2/global/vars.c
  src/tr2/global/vars.h
  src/tr2/main.c
Labels: Internal, TR2

#2157 tr2/phase: draw only if not ending
  src/tr2/game/phase/executor.c
Labels: TRX bug, Unreleased, TR2

#2159 tr2/gameflow: restore NG+ flag
  src/tr2/game/gameflow.c
Labels: TRX bug, Internal, TR2

#2160 tr2/effects: fix spawning air bubbles in fly state
  docs/tr2/CHANGELOG.md
  src/tr1/game/item_actions/bubbles.c
  src/tr1/game/spawn.c
  src/tr1/game/spawn.h
  src/tr2/game/item_actions.c
Labels: TRX bug, TR2

#2162 tr2/demo: fix demos playing too eagerly
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/decomp.c
  src/tr2/game/game.c
  src/tr2/game/gameflow.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/phase/phase_demo.c
  src/tr2/game/phase/phase_game.c
  src/tr2/game/shell/common.c
  src/tr2/global/types_decomp.h
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: TRX bug, TR2

#2165 tr1/saves: fix loading 4.7 saves
  src/tr1/game/savegame/savegame_bson.c
Labels: TRX bug, Unreleased, TR1

#2166 tr2/const: fix upside down frame when looking forward
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/global/const.h
Labels: OG bug, TR2

#2171 tr2/music/music_main: play tracks regardless of volume
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/music/music_main.c
Labels: OG bug, TR2

#2174 tr2/game: fix x2 turbo speed not working
  src/tr2/game/game.c
Labels: TRX bug, Unreleased, TR2

#2172 tr2/inv-ring: fix spin out sfx playing too early
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/types.h
Labels: TRX bug, Unreleased, TR2

#2176 tr2/objects/switch: fix underwater switch bounds
  src/tr2/game/objects/general/switch.c
Labels: TRX bug, Unreleased, TR2

#2178 TR2: add user controllable FOV
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/config.c
  src/tr2/config.h
  src/tr2/config_map.def
  src/tr2/game/camera.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/types.h
  src/tr2/game/item_actions.c
  src/tr2/game/lara/cheat.c
  src/tr2/game/lara/state.c
  src/tr2/game/output.c
  src/tr2/game/output.h
  src/tr2/game/overlay.c
  src/tr2/game/shell/common.c
  src/tr2/game/viewport.c
  src/tr2/game/viewport.h
  src/tr2/global/const.h
Labels: OG bug, Feature, Enhancement, TR2

#2182 tr2/inventory_ring/control: hide up arrow on health items
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/text.c
Labels: OG bug, TR2

#2183 tr2/phaser: sync clock at phase start/resume
  src/tr2/game/phase/executor.c
Labels: TRX bug, Unreleased, TR2
