Repository LostArtefacts/TRX, pull requests merged in 2024-10, with the labels that each got.

#1655 camera: refactor camera organisation
  src/tr1/game/camera.c
  src/tr1/game/camera.h
Labels: Internal, TR1

#1657 overlay: add option to toggle game UI
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/tr1/config.h
  src/tr1/config_map.def
  src/tr1/game/game_string.def
  src/tr1/game/option/option_control.c
  src/tr1/game/overlay.c
  src/tr1/game/phase/phase_inventory.c
  src/tr1/game/shell.c
  src/tr1/global/types.h
  src/tr1/specific/s_input.c
Labels: Feature, TR1

#1663 tr2/output: fix water wibble effect
  docs/tr2/CHANGELOG.md
  src/tr2/game/output.c
Labels: Enhancement, TR2

#1668 console: fix targeting pickups
  data/tr2/ship/cfg/TR2X_gameflow.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/config.c
  src/libtrx/game/console/cmd/kill.c
  src/libtrx/game/console/cmd/teleport.c
  src/libtrx/include/libtrx/game/objects/names_tr1.def
  src/libtrx/include/libtrx/game/objects/names_tr2.def
  src/libtrx/include/libtrx/strings/fuzzy_match.h
  src/libtrx/strings/common.c
  src/libtrx/strings/fuzzy_match.c
Labels: TRX bug, Unreleased, TR2, TR1

#1676 tr1/phase_photo_mode: fix exit option on controllers
  src/tr1/game/phase/phase_photo_mode.c
Labels: Unreleased, TR1

#1677 tr1/camera: fix potential division by zero
  docs/tr1/CHANGELOG.md
  src/tr1/game/camera.c
Labels: OG bug, TR1

#1681 tr1/photo_mode: fix freeing the UI
  src/tr1/game/ui/widgets/photo_mode.c
Labels: TRX bug, Unreleased, TR1

#1684 console: remember prompt history
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/file.c
  src/libtrx/game/console/common.c
  src/libtrx/game/console/history.c
  src/libtrx/game/console/internal.h
  src/libtrx/game/ui/widgets/console.c
  src/libtrx/game/ui/widgets/prompt.c
  src/libtrx/include/libtrx/game/console/history.h
  src/libtrx/include/libtrx/game/ui/common.h
  src/libtrx/include/libtrx/game/ui/widgets/prompt.h
  src/libtrx/include/libtrx/utils.h
  src/libtrx/meson.build
  src/tr1/game/ui/common.c
  src/tr2/game/ui/common.c
Labels: Enhancement, TR2, TR1

#1686 Merge reset camera and look button roles
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  src/tr1/game/camera/photo_mode.c
  src/tr1/game/game_string.def
  src/tr1/game/option/option_control.c
  src/tr1/specific/s_input.c
Labels: Enhancement, TR1

#1689 tr1/lara: inject medium water exit animation
  data/tr1/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/libtrx/include/libtrx/game/lara/enum_tr1.h
  src/tr1/game/lara/misc.c
Labels: Data, Enhancement, TR1

#1699 Fix /give not working with weapons
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/give_item.c
  src/libtrx/game/objects/common.c
  src/libtrx/include/libtrx/game/objects/common.h
  src/libtrx/include/libtrx/game/objects/vars.h
  src/libtrx/meson.build
  src/tr1/game/objects/common.c
  src/tr1/game/objects/common.h
  src/tr1/game/objects/vars.h
  src/tr2/game/objects/common.c
  src/tr2/game/objects/common.h
  src/tr2/game/objects/vars.c
  src/tr2/game/objects/vars.h
Labels: TRX bug, TR2

#1711 build: fix mac builds
  docs/CONTRIBUTING.md
  docs/tr1/CHANGELOG.md
  src/tr1/meson.build
Labels: TRX bug, Internal, TR1

#1715 tr1/data: inject pushblock SFX commands
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/data/injections/mines_pushblocks.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  docs/tr1/README.md
Labels: OG bug, Data, TR1

#1719 tr1/carrier: add support for TR2-style item drops
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr1/CHANGELOG.md
  docs/tr1/GAMEFLOW.md
  src/tr1/game/carrier.c
  src/tr1/game/carrier.h
  src/tr1/game/gameflow.c
  src/tr1/game/gameflow.h
  src/tr1/game/items.c
  src/tr1/game/stats.c
  src/tr1/math/math_misc.c
  src/tr1/math/math_misc.h
Labels: Enhancement, TR1

#1722 tr2/lara: revert camera after extra anim unless heavy
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/lara/state.c
Labels: OG bug, TR2

#1726 tr2/data: remove silence from gong track
  data/tr2/ship/music/57.mp3
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#1732 tr1/fmv: fix initial playing flag
  src/tr1/game/fmv.c
Labels: TRX bug, Unreleased, TR1

#1739 tr2/objects/eel: fix setup
  src/tr2/game/objects/creatures/eel.c
Labels: TRX bug, Unreleased

#1740 tr2/objects/winston: fix setup
  src/tr2/game/objects/creatures/winston.c
Labels: TRX bug, Unreleased

#1742 build: make prereleases use debug symbols
  .github/workflows/job_build_tr1.yml
  .github/workflows/job_build_tr1_macos.yml
  .github/workflows/job_build_tr2.yml
  .github/workflows/pr_builds.yml
  .github/workflows/prerelease.yml
  .github/workflows/release_tr1.yml
  .github/workflows/release_tr2.yml
  justfile
Labels: Internal

#1753 tr1/data: inject Khamoon trapdoor triggers
  data/tr1/ship/data/injections/khamoon_fd.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
Labels: OG bug, TR1

#1746 phase_pause: add the ability to pause during cutscenes
  docs/tr1/CHANGELOG.md
  src/tr1/game/phase/phase_cutscene.c
  src/tr1/game/phase/phase_pause.c
  src/tr1/game/phase/phase_pause.h
Labels: Feature, TR1

#1747 Try OpenGL 3.3C first, and fall back to 2.1 only if it fails
  docs/tr1/CHANGELOG.md
  src/libtrx/gfx/2d/2d_renderer.c
  src/libtrx/gfx/3d/3d_renderer.c
  src/libtrx/gfx/context.c
  src/libtrx/gfx/gl/program.c
  src/libtrx/gfx/renderers/fbo_renderer.c
  src/libtrx/include/libtrx/gfx/2d/2d_renderer.h
  src/libtrx/include/libtrx/gfx/common.h
  src/libtrx/include/libtrx/gfx/config.h
  src/libtrx/include/libtrx/gfx/context.h
  src/libtrx/include/libtrx/gfx/gl/program.h
  src/libtrx/meson.build
  src/libtrx/meson.options
  src/tr1/meson.build
  src/tr1/specific/s_output.c
  src/tr1/specific/s_shell.c
  src/tr2/meson.build
Labels: Enhancement, TR1

#1756 tr2/boat: fix Lara's room number when on boat
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/vehicles/boat.c
Labels: OG bug, TR2

#1757 tr2/gun_rifle: fix harpoon recoil in NG+
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/gun/gun_rifle.c
Labels: OG bug, TR2

#1759 dragon: fix dragon reviving after the dagger is pulled
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/creatures/dragon.c
Labels: OG bug, TR2

#1764 grenade: fix kills counting as two kills
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/grenade.c
Labels: OG bug, TR2

#1775 tr1/gameflow: read leadbar name from gameflow
  docs/tr1/CHANGELOG.md
  src/tr1/game/gameflow.c
Labels: TRX bug, TR1

#1776 demo: fix hidden ammo counter while demo plays in NG+
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/demo.c
Labels: OG bug, TR2

#1777 stats: fix the game hanging if exited during the level stats, credits, or final stats
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/decomp/decomp.c
  src/tr2/decomp/stats.c
  src/tr2/game/shell.c
Labels: OG bug, TR2

#1779 tr1/phase_demo: disable wading during demos
  src/tr1/game/phase/phase_demo.c
Labels: TRX bug, Unreleased, TR1
