Repository LostArtefacts/TRX, pull requests merged in 2025-09, with the labels that each got.

#3888 creature/common: fix aliveness test
  docs/tr2/CHANGELOG.md
  src/libtrx/game/creature/common.c
Labels: TRX bug, TR2

#3909 fmv: fix busy loop
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/video.c
Labels: TRX bug, TR2, TR1

#3907 console: add backdrop to TR2
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/hud/console.c
  src/libtrx/include/libtrx/game/console/common.h
  src/tr1/game/console/common.c
  src/tr1/game/console/common.h
  src/tr1/game/inventory_ring/control.c
  src/tr1/meson.build
  src/tr2/game/console/common.c
  src/tr2/game/console/common.h
  src/tr2/game/inventory_ring/draw.c
  src/tr2/meson.build
Labels: Enhancement, TR2

#3911 fmv: fix /play skipping intro fmvs too fast
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/fmv.c
Labels: TRX bug, TR2, TR1

#3913 ui/bar: support smooth bars in tr2
  docs/tr1/IMPROVEMENTS.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/config/map.def
  src/libtrx/config/map_tr1.def
  src/libtrx/game/ui/dialogs/setting_tabs/graphic_ui.def
  src/libtrx/include/libtrx/config/types_tr2.h
  src/tr2/game/ui/elements/bar.c
Labels: Feature, TR2

#3915 sound: fix SPM_PITCH not respected
  src/libtrx/game/sound/common.c
  src/libtrx/include/libtrx/game/sound/enum.h
Labels: TRX bug, Unreleased, TR2

#3918 music: fix saved music playing briefly track start
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/audio_stream.c
Labels: TRX bug, TR2, TR1

#3921 tr1/savegame: fix Lara meshes with legacy saves
  docs/tr1/CHANGELOG.md
  src/tr1/game/savegame/savegame_legacy.c
Labels: TRX bug, TR1

#3939 tr2/objects/trex: fix crash when AI is not set
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/creatures/trex.c
Labels: OG bug, TR2

#3941 config: use PS1 defaults
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
Labels: Enhancement, TR2, TR1

#3945 ui/bar: fix ps1 fill for non-100% values
  src/libtrx/game/ui/elements/bar.c
Labels: TRX bug, Unreleased, TR2, TR1

#3942 cmd: add /cls command
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  docs/2-COMMANDS.md
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/clear.c
  src/libtrx/game/console/common.c
  src/libtrx/game/ui/hud/console_logs.c
  src/libtrx/include/libtrx/game/console/common.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/ui/hud/console_logs.h
  src/libtrx/meson.build
Labels: Feature, TR2, TR1

#3949 config: merge types definition
  src/libtrx/game/overlay.c
  src/libtrx/include/libtrx/config/enum.h
  src/libtrx/include/libtrx/config/types.h
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
Labels: Internal, TR2, TR1

#3965 output: fix crashes with vertex-less meshes
  src/libtrx/game/output/sources/objects.c
Labels: TRX bug, Internal, TR2, TR1

#3973 inv-ring: fix not updating ambient sounds volume
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/inventory_ring/priv.c
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, TR2, TR1
