Repository LostArtefacts/TRX, pull requests merged in 2025-08, with the labels that each got.

#3674 tr1/data: fix Atlantean Stronghold portals and textures
  data/tr1/ship/data/injections/stronghold_textures.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
Labels: OG bug, Data, TR1

#3681 tr1/savegame: fix effects not saving rotation
  docs/tr1/CHANGELOG.md
  src/tr1/game/savegame/savegame_bson.c
Labels: TRX bug, TR1

#3679 tr1/output: fix initial FMV not rendering
  src/tr1/game/output/scene_compositor.c
Labels: TRX bug, Unreleased, TR1

#3684 lara: adjust neutral jump twist
  src/libtrx/game/lara/col/jump.c
  src/libtrx/game/lara/state/land.c
Labels: TRX bug, Unreleased, TR2, TR1

#3689 tr1/output: fix inventory not drawing
  src/tr1/game/output/scene_compositor.c
Labels: TRX bug, Unreleased, TR1

#3692 tr2/data: fix placeholder bridge collision and textures
  data/tr2/ship/data/injections/barkhang_fd.bin
  data/tr2/ship/data/injections/barkhang_textures.bin
  data/tr2/ship/data/injections/xian_fd.bin
  data/tr2/ship/data/injections/xian_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
Labels: OG bug, Data, TR2

#3695 tr1/output: do not sort transparent skybox faces
  src/libtrx/include/libtrx/game/objects/types.h
  src/tr1/game/objects/setup.c
  src/tr1/game/output/mesh_batcher/mesh.c
  src/tr1/game/output/sources/objects.c
Labels: TRX bug, Unreleased, TR1

#3700 tr1/data: fix big pod positions
  data/tr1/ship/data/injections/atlantis_textures.bin
  data/tr1/ship/data/injections/cut3_textures.bin
  data/tr1/ship/data/injections/cut4_textures.bin
  data/tr1/ship/data/injections/hive_textures.bin
  data/tr1/ship/data/injections/pyramid_textures.bin
  data/tr1/ship/data/injections/stronghold_textures.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
Labels: OG bug, Data, TR1

#3701 tr2/data: fix missing zipline reset triggers
  data/tr2/ship/cfg/tr2/gameflow.json5
  data/tr2/ship/data/injections/gym_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/INSTALLING.md
Labels: OG bug, Data, TR2

#3702 lara/col/climb: add ledge jumping option
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  data/tr1/ship/data/injections/lara_animations.bin
  data/tr2/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/config/map.def
  src/libtrx/game/lara/col/climb.c
  src/libtrx/game/lara/state.c
  src/libtrx/game/lara/state/jump.c
  src/libtrx/game/ui/dialogs/setting_tabs/gameplay_controls.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/lara/enum.h
Labels: Feature, Data, TR2, TR1

#3717 cmd: add /restless command
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  docs/2-COMMANDS.md
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/inf_sprint.c
  src/libtrx/game/lara/state/land.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/meson.build
Labels: Enhancement, TR2, TR1

#3722 cmd: fix /debug 1 not saving across relaunches
  src/libtrx/game/console/cmd/debug.c
Labels: TRX bug, Unreleased, TR2, TR1

#3744 tr2/output: fix the scissor test in windowed mode
  src/libtrx/game/output/func.c
  src/libtrx/game/output/state.c
Labels: TRX bug, Unreleased, TR2

#3752 game_flow: block Lara control on load
  docs/tr1/CHANGELOG.md
  src/libtrx/game/console/cmd/die.c
  src/libtrx/game/game.c
  src/libtrx/include/libtrx/game/game.h
  src/tr1/game/game_flow/sequencer_events.c
  src/tr2/game/game_flow/sequencer_events.c
Labels: TRX bug, TR1

#3758 game-buf: allow resetting individual buffers
  src/libtrx/game/game_buf.c
  src/libtrx/include/libtrx/game/game_buf.h
Labels: Internal

#3756 output: fix shadows occluding transparent tiles
  src/libtrx/game/output/mesh_batcher/batcher.c
  src/libtrx/game/output/sources/shadows.c
  src/libtrx/include/libtrx/game/output/mesh_batcher/batcher.h
Labels: TRX bug, TR2, TR1

#3762 inv-ring: fix animating textures
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, Unreleased, TR2, TR1

#3765 output: fix drawing items in overlapping rooms
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
  src/libtrx/game/camera/common.c
  src/libtrx/game/console/cmd/debug.c
  src/libtrx/game/objects/draw.c
  src/libtrx/game/output/func.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/objects/draw.h
  src/libtrx/include/libtrx/game/output/common.h
  src/libtrx/include/libtrx/game/output/draw.h
  src/libtrx/include/libtrx/game/output/func.h
  src/libtrx/include/libtrx/game/output/types.h
  src/libtrx/include/libtrx/game/output/vars.h
  src/tr1/game/gun.h
  src/tr1/game/gun/gun.c
  src/tr1/game/gun/gun_misc.h
  src/tr1/game/lara/draw.c
  src/tr1/game/objects/common.c
  src/tr1/game/objects/traps/lightning_emitter.c
  src/tr1/game/output/draw.c
  src/tr1/game/output/func.c
  src/tr1/game/room_draw.c
  src/tr1/global/vars.h
  src/tr2/decomp/skidoo.c
  src/tr2/game/gun/gun_misc.c
  src/tr2/game/gun/gun_misc.h
  src/tr2/game/lara/draw.c
  src/tr2/game/objects/common.c
  src/tr2/game/objects/common.h
  src/tr2/game/objects/creatures/xian_common.c
  src/tr2/game/objects/general/flare_item.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/objects/general/sphere_of_doom.c
  src/tr2/game/output/common.c
  src/tr2/game/output/draw.c
  src/tr2/game/output/draw.h
  src/tr2/game/room_draw.c
  src/tr2/global/vars.h
Labels: TRX bug, TR2, TR1

#3767 output: flip the depth adjustment axis
  src/libtrx/game/output/sources/objects.c
Labels: TRX bug, OG bug, Unreleased, TR2, TR1

#3776 objects/general: allow interactive fly cheat
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/lara/control.c
  src/tr1/game/objects/general/pickup.c
  src/tr1/game/objects/general/save_crystal.c
  src/tr1/game/objects/general/switch.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/objects/general/switch.c
Labels: Enhancement, TR2, TR1

#3781 output: add sprite lock modes
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  data/common/ship/shaders/common.glsl
  data/common/ship/shaders/meshes.glsl
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
  src/libtrx/game/output/shader.c
  src/libtrx/game/ui/dialogs/setting_helpers/enums.c
  src/libtrx/game/ui/dialogs/setting_helpers/enums.h
  src/libtrx/game/ui/dialogs/setting_tabs/graphic_rendering.def
  src/libtrx/include/libtrx/config/types.h
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/enum_map.def
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/output/shader.h
Labels: Enhancement, TR2, TR1

#3783 ui: tweak pickup scales; add user option
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
  src/libtrx/config/priv.c
  src/libtrx/game/output/sources/ui.c
  src/libtrx/game/ui/dialogs/setting_helpers/handlers.c
  src/libtrx/game/ui/dialogs/setting_helpers/handlers.h
  src/libtrx/game/ui/dialogs/setting_tabs/graphic_ui.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
Labels: Enhancement, TR2, TR1

#3785 output: exclude bubbles from upright transform
  data/common/ship/shaders/common.glsl
  data/common/ship/shaders/meshes.glsl
  src/libtrx/game/output/mesh_batcher/mesh_builder.c
  src/libtrx/game/output/textures.c
  src/libtrx/include/libtrx/game/output/shader.h
  src/libtrx/include/libtrx/game/output/textures.h
  src/libtrx/include/libtrx/game/output/types.h
  src/tr1/game/objects/effects/bubble.c
  src/tr2/game/objects/effects/bubble.c
Labels: TRX bug, Unreleased, TR2, TR1

#3790 output: exclude lightnings from the upright transform
  src/libtrx/game/output/sources/lightnings.c
Labels: TRX bug, Unreleased, TR1

#3792 tr2/objects/pickup: fix flickering pickups
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/general/pickup.c
Labels: TRX bug, TR2

#3804 tr2/output: fix fog effect too strong on statics
  src/libtrx/game/output/func.c
  src/libtrx/game/output/lights.c
  src/libtrx/include/libtrx/game/output/func.h
  src/libtrx/include/libtrx/game/output/lights.h
Labels: TRX bug, Unreleased, TR2

#3817 docs: update changelog order
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Internal

#3820 tr2/lara/flare: fix throw priority check
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr2/game/lara/flare.c
Labels: TRX bug, TR2

#3822 tr1/data: fix Vilcabamba statue z-fighting
  data/tr1/ship/data/injections/vilcabamba_textures.bin
Labels: TRX bug, Data, Unreleased, TR1

#3825 tr2/gun: fix projectiles ending in overlapping rooms
  src/tr2/game/gun/gun_misc.c
Labels: TRX bug, Unreleased, TR2

#3833 objects/effects/flame: fix SFX play mode
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/effects/flame.c
Labels: TRX bug, TR2, TR1

#3834 tr2/data: fix Wreck texture gaps
  data/tr2/ship/data/injections/wreck_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
Labels: OG bug, Data, TR2

#3838 tr2/gun: fix harpoon bolts
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/general/harpoon_bolt.c
Labels: TRX bug, TR2

#3839 lara/control: fix fly cheat collision
  src/libtrx/game/lara/control.c
Labels: TRX bug, Unreleased, TR2, TR1

#3840 tr2/data: fix Vegas door positions
  data/tr2/ship/data/injections/vegas_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
Labels: OG bug, Data, TR2

#3843 phase/photo-mode: fix exiting photo mode ui on a controller
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/phase/phase_photo_mode.c
Labels: TRX bug, TR2, TR1

#3848 tr1/savegame: fix issue with drawing weapons
  docs/tr1/CHANGELOG.md
  src/libtrx/game/gun/control.c
Labels: TRX bug, TR1

#3850 objects/puzzle_slot: alter status only when inactive
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/general/puzzle_hole.c
Labels: TRX bug, TR2, TR1

#3852 cmd/easy-config: merge to libtrx; fix /vsync missing in TR2
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings-ru.json5
  data/common/ship/cfg/base_strings.json5
  data/tr1/ship/cfg/tr1/strings-de.json5
  data/tr1/ship/cfg/tr1/strings-fr.json5
  data/tr1/ship/cfg/tr1/strings-gd.json5
  data/tr1/ship/cfg/tr1/strings-it.json5
  data/tr1/ship/cfg/tr1/strings-pl.json5
  data/tr1/ship/cfg/tr1/strings-ru.json5
  data/tr1/ship/cfg/tr1/strings.json5
  src/libtrx/game/console/cmd/easy_config.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/meson.build
  src/tr1/game/game_string.def
  src/tr1/meson.build
  src/tr2/game/console/cmd/easy_config.c
  src/tr2/meson.build
Labels: TRX bug, Unreleased, TR2

#3858 inject/data/sound: skip existing TR2 SFX injection
  src/libtrx/game/inject/data/sound.c
Labels: TRX bug, TR2

#3859 tr2/console/cmd/winston: test object presence
  src/tr2/game/console/cmd/winston.c
Labels: TRX bug, Unreleased, TR2

#3876 json-file: fix \0 at the end of the file
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/json_file.c
Labels: TRX bug, TR2, TR1
