Repository LostArtefacts/TRX, pull requests merged in 2025-06, with the labels that each got.

#3112 ui/controls: fix unbind key visibility
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/dialogs/controls_editor.c
Labels: TRX bug, TR2, TR1

#3119 ui: merge settings dialogs
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  src/libtrx/game/ui/dialogs/gameplay_settings.c
  src/libtrx/game/ui/dialogs/graphic_settings.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/ui/dialogs/gameplay_settings.h
  src/libtrx/include/libtrx/game/ui/dialogs/graphic_settings.h
  src/libtrx/meson.build
  src/tr1/game/game_string.def
  src/tr1/game/option/option_gameplay.c
  src/tr1/game/option/option_graphics.c
  src/tr1/meson.build
  src/tr2/game/game_string.def
  src/tr2/game/option/option_detail.c
  src/tr2/game/option/option_gameplay.c
  src/tr2/game/ui/dialogs/gameplay_settings.c
  src/tr2/game/ui/dialogs/gameplay_settings.h
  src/tr2/game/ui/dialogs/graphic_settings.c
  src/tr2/game/ui/dialogs/graphic_settings.h
  src/tr2/meson.build
Labels: Enhancement, Unreleased, TR2, TR1

#3139 tr2/docs: add wading wall hit documentation
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, TR2

#3144 ui/prompt: fix crash when editing short prompts
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/elements/prompt.c
Labels: TRX bug, TR2, TR1

#3156 statue: fix game crash if statues explode with no centaur object
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/creatures/statue.c
Labels: TRX bug, TR1

#3146 config: introduce COT_FLOAT_PERCENT
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  src/libtrx/config/common.c
  src/libtrx/config/file.c
  src/libtrx/config/map.c
  src/libtrx/config/map_tr1.def
  src/libtrx/config/map_tr2.def
  src/libtrx/config/priv.c
  src/libtrx/config/priv.h
  src/libtrx/config/priv_tr1.c
  src/libtrx/config/priv_tr2.c
  src/libtrx/game/console/cmd/config.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/game/ui/dialogs/sound_settings.c
  src/libtrx/include/libtrx/config/option.h
  src/libtrx/include/libtrx/game/game_string.def
Labels: Enhancement, Unreleased, TR2, TR1

#3161 ui: do not retain game string content
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/game/ui/elements/tab_switch.c
  src/libtrx/include/libtrx/game/ui/dialogs/controls_editor.h
  src/libtrx/include/libtrx/game/ui/dialogs/settings.h
  src/libtrx/include/libtrx/game/ui/elements/tab_switch.h
Labels: Internal, TR2, TR1

#3160 config: support string options
  src/libtrx/config/common.c
  src/libtrx/config/file.c
  src/libtrx/config/map.c
  src/libtrx/game/console/cmd/config.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/include/libtrx/config/option.h
Labels: Internal, TR2, TR1

#3165 rooms/floor_data: constrain gym music track check
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/libtrx/game/rooms/floor_data.c
Labels: OG bug, TR1

#3186 tr2/inventory_ring/control: add option to play music in the inventory
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/config/map_tr2.def
  src/libtrx/game/ui/dialogs/sound_settings.c
  src/libtrx/include/libtrx/config/types_tr2.h
  src/tr2/game/inventory_ring/control.c
Labels: Feature, TR2

#3183 Fix glitchy playback
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/audio.c
  src/libtrx/engine/audio_internal.h
  src/libtrx/engine/audio_stream.c
  src/libtrx/include/libtrx/engine/audio.h
  src/tr1/specific/s_shell.c
Labels: TRX bug, TR2, TR1

#3193 game-strings: fix English label for TR2
  data/tr2/ship/cfg/TR2X_strings.json5
  data/tr2/ship/cfg/TR2X_strings_gm.json5
  data/tr2/ship/cfg/TR2X_strings_level.json5
Labels: TRX bug, Unreleased, TR2

#3192 ui/hud/overlay: add Lara animation debug details
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  src/libtrx/game/lara/common.c
  src/libtrx/game/ui/hud/overlay.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/lara/common.h
Labels: Enhancement, TR2, TR1

#3204 cmd: add /strings command
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings.json5
  docs/tr1/COMMANDS.md
  docs/tr2/COMMANDS.md
  src/libtrx/game/console/cmd/strings.c
  src/libtrx/game/game_string_manager.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/game_string_manager.h
  src/libtrx/meson.build
Labels: Enhancement, Unreleased, TR2, TR1

#3205 config: add enable_review_markers option
  data/common/glyphs/mapping_icons.txt
  data/tr1/glyphs/buttons.png
  data/tr1/ship/data/injections/font.bin
  data/tr2/glyphs/buttons.png
  data/tr2/ship/data/injections/font.bin
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map_tr1.def
  src/libtrx/config/map_tr2.def
  src/libtrx/game/ui/text.c
  src/libtrx/game/ui/text_tr1.def
  src/libtrx/game/ui/text_tr2.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  tools/glyphs/generate_defs
  tools/shared/glyph_mapping.py
Labels: Enhancement, Unreleased, TR2, TR1

#3208 docs: update game strings docs for translators
  docs/GAME_STRINGS.md
Labels: Enhancement, TR2, TR1

#3221 ui: fix input layout names hot reloading
  src/libtrx/game/input/common.c
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/game/ui/elements/tab_switch.c
  src/libtrx/include/libtrx/game/input/common.h
  src/libtrx/include/libtrx/game/ui/elements/tab_switch.h
Labels: TRX bug, Unreleased, TR2, TR1

#3222 ui/text: fix game crashing on word-wrapping unknown glyphs
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/text.c
Labels: TRX bug, TR2, TR1

#3223 Support non breaking spaces
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/text.c
  src/libtrx/game/ui/text.def
  src/libtrx/game/ui/text_tr1.def
  src/libtrx/game/ui/text_tr2.def
  tools/glyphs/generate_defs
Labels: Enhancement, TR2, TR1

#3232 ui/settings: fix not updating size after /strings
  src/libtrx/game/game_string_manager.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/include/libtrx/game/game_string_manager.h
  src/tr1/game/shell.c
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR2, TR1

#3235 game-strings: add Polish translation
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/tr1/ship/cfg/TR1X_strings-pl.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-pl.json5
  data/tr1/ship/cfg/TR1X_strings_level-pl.json5
  data/tr1/ship/cfg/TR1X_strings_ub-pl.json5
  data/tr2/ship/cfg/TR2X_strings-pl.json5
  data/tr2/ship/cfg/TR2X_strings_gm-pl.json5
  data/tr2/ship/cfg/TR2X_strings_level-pl.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Enhancement, TR2, TR1

#3236 cmd: add /secret command
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  docs/COMMANDS.md
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/give_secret.c
  src/libtrx/game/rooms/floor_data.c
  src/libtrx/game/stats.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/stats/common.h
  src/libtrx/meson.build
  src/tr1/game/stats/common.c
  src/tr2/game/stats.c
Labels: Feature, TR2, TR1

#3244 tr2/option/option_compass: fix ticking SFX
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/option/option_compass.c
Labels: TRX bug, Unreleased, TR2

#3248 ui/controls: fix trapezoid filter missing in TR1
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  data/tr2/ship/cfg/TR2X_strings-it.json5
  data/tr2/ship/cfg/TR2X_strings-pl.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/include/libtrx/game/game_string.def
  src/tr1/game/input.c
  src/tr2/game/game_string.def
Labels: TRX bug, TR1

#3254 rooms/floor_data: pass secret number to stats
  docs/tr1/CHANGELOG.md
  src/libtrx/game/rooms/floor_data.c
Labels: TRX bug, TR1

#3258 photo-mode: allow advancing single frames
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/camera/photo_mode.c
  src/libtrx/game/interpolation.c
  src/libtrx/game/phase/executor.c
  src/libtrx/game/phase/phase_photo_mode.c
  src/libtrx/game/ui/dialogs/photo_mode.c
  src/libtrx/include/libtrx/game/camera/photo_mode.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/interpolation.h
  src/libtrx/include/libtrx/game/phase/executor.h
  src/libtrx/meson.build
Labels: Feature, TR2, TR1

#3270 game-flow: add ability to disable end credits
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map_tr1.def
  src/libtrx/config/map_tr2.def
  src/libtrx/game/game_flow/reader.c
  src/libtrx/game/game_flow/sequencer_events.c
  src/libtrx/game/ui/dialogs/gameplay_settings.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_flow/types.h
  src/libtrx/include/libtrx/game/game_string.def
  src/tr1/game/game_flow/sequencer_misc.c
Labels: Feature, TR2, TR1

#3265 tr1/cutscene: fix audio drift
  docs/tr1/CHANGELOG.md
  src/tr1/game/cutscene.c
Labels: TRX bug, Enhancement, TR1

#3264 stats: fix non-0 indexed secrets in TR1
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  docs/tr1/CHANGELOG.md
  src/libtrx/game/console/cmd/give_secret.c
  src/libtrx/game/stats.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/stats.h
  src/libtrx/include/libtrx/game/stats/common.h
  src/libtrx/include/libtrx/game/stats/const.h
  src/libtrx/include/libtrx/game/stats/types.h
  src/tr1/game/game_flow/sequencer_events.c
  src/tr1/game/savegame/savegame_bson.c
  src/tr1/game/stats/common.c
  src/tr1/game/stats/common.h
  src/tr2/game/game_flow/sequencer_events.c
  src/tr2/game/level.c
  src/tr2/game/savegame/common.c
  src/tr2/game/savegame/savegame_bson.c
  src/tr2/game/savegame/savegame_legacy.c
  src/tr2/game/stats.c
  src/tr2/game/stats.h
  src/tr2/game/ui/dialogs/stats.c
Labels: TRX bug, TR1

#3283 ui/tabs: allow navigating with sidestep keys
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/game/ui/dialogs/settings.c
  src/libtrx/game/ui/elements/tab_switch.c
  src/libtrx/include/libtrx/game/ui/elements/tab_switch.h
Labels: Enhancement, TR2, TR1

#3275 movable_block: fix stuck blocks if game is saved while they fall
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/objects/traps/movable_block.c
  src/tr2/game/objects/general/movable_block.c
Labels: TRX bug, TR2, TR1

#3289 ui/text: fix PS1 pad missing an icon
  data/common/glyphs/mapping_controller.txt
  data/tr1/glyphs/controller.png
  data/tr1/ship/data/injections/font.bin
  data/tr2/glyphs/controller.png
  data/tr2/ship/data/injections/font.bin
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/input/backends/controller.c
  src/libtrx/game/ui/text_tr1.def
  src/libtrx/game/ui/text_tr2.def
Labels: TRX bug, TR2, TR1

#3291 ui/controls: fix reset/unbind inputs not working on controllers
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/dialogs/controls.c
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/ui/dialogs/controls.h
  src/libtrx/include/libtrx/game/ui/dialogs/controls_editor.h
  src/tr1/game/option/option_controls.c
  src/tr2/game/option/option_controls.c
Labels: TRX bug, TR2, TR1

#3260 game-flow: fix missing injection
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/gym_textures.bin
  data/tr2/ship/data/injections/vegas_textures.bin
  data/tr2/ship/data/injections/winston_model_gm.bin
Labels: TRX bug, Unreleased, TR2

#3294 screenshot: fix screenshot stripping accents
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/filesystem.c
  src/libtrx/screenshot.c
Labels: TRX bug, TR2, TR1

#3309 build: fix too fast merging spamming mailboxes
  .github/workflows/comment_build.yml
Labels: Internal

#3313 filesystem: fix Windows crashing on missing files
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/filesystem.c
Labels: TRX bug, TR2, TR1

#3319 config: fix botched logic for restoring default colors
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/common.c
Labels: TRX bug, TR2, TR1

#3323 tr2/shell: react to fullscreen window movements
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
  src/libtrx/game/output/background.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/tr1/specific/s_shell.c
  src/tr2/game/shell/common.c
Labels: TRX bug, TR2

#3322 tr2/input: unbind sizer and scaler default bindings
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/game/input/backends/keyboard_tr2.def
Labels: Enhancement, TR2

#3331 savegame: fix overflows in flare count
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/include/libtrx/game/savegame/types.h
Labels: OG bug, TR2

#3321 cmd/pos: fix crash if no level title set
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/pos.c
Labels: TRX bug, TR2, TR1

#3339 Make Lara say 'no' if she has no items when interacting with receptacles
  docs/tr1/CHANGELOG.md
  src/libtrx/game/game_flow/sequencer_misc.c
  src/libtrx/include/libtrx/game/game_flow/sequencer.h
  src/libtrx/include/libtrx/game/inventory_ring/control.h
  src/libtrx/include/libtrx/game/lara/types.h
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/lara/control.h
  src/tr1/game/objects/general/keyhole.c
  src/tr1/game/objects/general/puzzle_hole.c
  src/tr1/game/objects/traps/midas_touch.c
  src/tr2/game/inventory_ring/control.c
Labels: TR1

#3340 Fix overriding game flow commands not working while in the key use inventory ring
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/game_flow/sequencer_misc.c
Labels: TRX bug, TR2, TR1

#3345 ui/settings: fix shift+arrows not working
  src/libtrx/game/ui/dialogs/settings.c
Labels: TRX bug, Unreleased, TR2, TR1

#3351 ui: allow separate enemy healthbar color for allies
  data/common/ship/cfg/TRX_common_strings-en-gb.json5
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map.def
  src/libtrx/game/ui/dialogs/setting_helpers/handlers.c
  src/libtrx/game/ui/dialogs/setting_helpers/handlers.h
  src/libtrx/game/ui/dialogs/setting_tabs/graphic_ui.def
  src/libtrx/game/ui/elements/bar_enemy_hp.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
Labels: Feature, TR2

#3355 tr1/objects/save_crystal: increase vertical collision range
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/general/save_crystal.c
Labels: Enhancement, TR1

#3364 tr2/data: add missing guns for weapons cheat
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/lara_gym_guns.bin
  data/tr2/ship/data/injections/lara_house_guns.bin
  data/tr2/ship/data/injections/lara_vegas_guns.bin
  docs/tr2/CHANGELOG.md
Labels: Data, Enhancement, TR2

#3376 tr2/objects: avoid testing windows as creatures
  src/tr2/game/objects/general/grenade.c
  src/tr2/game/objects/general/harpoon_bolt.c
Labels: TRX bug, Unreleased, TR2

#3382 tr2/option_passport: prevent deselection in death mode
  docs/tr2/CHANGELOG.md
  src/tr2/game/option/option_passport.c
Labels: TRX bug, TR2

#3386 output: remove dynamic light limit
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/output/common.c
  src/libtrx/include/libtrx/game/output/common.h
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr2/game/output.c
  src/tr2/game/output.h
  src/tr2/game/shell/common.c
Labels: TRX bug, Enhancement, Unreleased, TR2, TR1

#3393 Game strings conflicts
  data/common/ship/cfg/TRX_common_strings-en-gb.json5
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  data/tr1/ship/cfg/TR1X_strings-en-gb.json5
  data/tr1/ship/cfg/TR1X_strings-fr.json5
  data/tr1/ship/cfg/TR1X_strings-it.json5
  data/tr1/ship/cfg/TR1X_strings-pl.json5
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-fr.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-it.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-pl.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc.json5
  data/tr1/ship/cfg/TR1X_strings_level-fr.json5
  data/tr1/ship/cfg/TR1X_strings_level-it.json5
  data/tr1/ship/cfg/TR1X_strings_level-pl.json5
  data/tr1/ship/cfg/TR1X_strings_level.json5
  data/tr1/ship/cfg/TR1X_strings_ub-fr.json5
  data/tr1/ship/cfg/TR1X_strings_ub-it.json5
  data/tr1/ship/cfg/TR1X_strings_ub-pl.json5
  data/tr1/ship/cfg/TR1X_strings_ub.json5
  data/tr2/ship/cfg/TR2X_strings-en-gb.json5
  data/tr2/ship/cfg/TR2X_strings-fr.json5
  data/tr2/ship/cfg/TR2X_strings-it.json5
  data/tr2/ship/cfg/TR2X_strings-pl.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  data/tr2/ship/cfg/TR2X_strings_gm-fr.json5
  data/tr2/ship/cfg/TR2X_strings_gm-it.json5
  data/tr2/ship/cfg/TR2X_strings_gm-pl.json5
  data/tr2/ship/cfg/TR2X_strings_gm.json5
  data/tr2/ship/cfg/TR2X_strings_level-fr.json5
  data/tr2/ship/cfg/TR2X_strings_level-it.json5
  data/tr2/ship/cfg/TR2X_strings_level-pl.json5
  data/tr2/ship/cfg/TR2X_strings_level.json5
  tools/shared/translation_utils.py
Labels: Internal
