Repository LostArtefacts/TRX, pull requests merged in 2025-01, with the labels that each got.

#2185 tr2/objects/switch: fix switch collision test
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/general/switch.c
Labels: TRX bug, TR2

#2187 tr2/objects/switch: fix weird airlock interaction
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/general/switch.c
Labels: TRX bug, TR2

#2191 Add TR2 linux builds
  .github/workflows/build_docker.yml
  .github/workflows/job_build_tr2.yml
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  justfile
  src/tr2/meson.build
  tools/tr2/docker/game-linux/Dockerfile
  tools/tr2/docker/game-linux/entrypoint.sh
Labels: Feature, TR2

#2202 libtrx/anims/types: introduce frame size for animations
  src/libtrx/include/libtrx/game/anims/types.h
  src/tr1/game/inject.c
  src/tr1/game/level.c
  src/tr2/game/inventory_ring/draw.c
  src/tr2/game/items.c
  src/tr2/game/lara/draw.c
  src/tr2/game/lara/hair.c
  src/tr2/game/lara/misc.c
  src/tr2/game/level.c
Labels: Internal, TR2, TR1

#2210 build: sort artifacts in PR comments
  .github/workflows/comment_build.yml
Labels: Internal

#2209 game-flow: use consistent naming
  docs/CONTRIBUTING.md
  docs/tr1/GAMEFLOW.md
  docs/tr2/symbols.txt
  src/libtrx/config/common.c
  src/libtrx/game/console/cmd/exit_game.c
  src/libtrx/game/console/cmd/exit_to_title.c
  src/libtrx/game/console/cmd/load_game.c
  src/libtrx/game/console/cmd/play_demo.c
  src/libtrx/game/console/cmd/play_level.c
  src/libtrx/game/console/cmd/pos.c
  src/libtrx/include/libtrx/game/game.h
  src/libtrx/include/libtrx/game/gameflow/common.h
  src/libtrx/include/libtrx/game/gameflow/types.h
  src/libtrx/include/libtrx/game/shell.h
  src/libtrx/screenshot.c
  src/tr1/game/carrier.c
  src/tr1/game/game.h
  src/tr1/game/game/game.c
  src/tr1/game/game/game_main_menu.c
  src/tr1/game/gameflow.c
  src/tr1/game/gameflow.h
  src/tr1/game/phase/phase.c
  src/tr1/game/phase/phase.h
  src/tr1/game/phase/phase_stats.c
  src/tr1/game/phase/phase_stats.h
  src/tr1/game/shell.c
  src/tr1/game/stats.c
  src/tr1/game/stats.h
  src/tr1/global/types.h
  src/tr2/decomp/decomp.c
  src/tr2/decomp/decomp.h
  src/tr2/game/game.c
  src/tr2/game/gameflow.c
  src/tr2/game/gameflow.h
  src/tr2/game/gameflow/gameflow_new.c
  src/tr2/game/gameflow/gameflow_new.h
  src/tr2/game/gameflow/reader.c
  src/tr2/game/lara/control.c
  src/tr2/game/lara/control.h
  src/tr2/game/level.c
  src/tr2/game/phase/phase_game.c
  src/tr2/game/phase/phase_game.h
  src/tr2/game/shell/common.c
  tools/config/TRX_ConfigToolLib/Models/MainWindowViewModel.cs
  tools/config/TRX_ConfigToolLib/Models/TRXConstants.cs
  tools/tr1/config/TR1X_ConfigTool/Resources/const.json
  tools/tr2/config/TR2X_ConfigTool/Resources/const.json
Labels: Internal, TR2, TR1

#2211 tr2/game-flow: eliminate GAME_FLOW_DIR
  docs/tr2/symbols.txt
  src/libtrx/include/libtrx/game/gameflow/types.h
  src/tr1/game/gameflow.c
  src/tr1/game/phase/phase.c
  src/tr1/game/phase/phase.h
  src/tr1/game/phase/phase_demo.c
  src/tr1/game/phase/phase_game.c
  src/tr1/game/phase/phase_inventory.c
  src/tr1/game/phase/phase_picture.c
  src/tr1/game/phase/phase_stats.c
  src/tr1/global/vars.c
  src/tr2/decomp/decomp.c
  src/tr2/decomp/decomp.h
  src/tr2/game/game.c
  src/tr2/game/game.h
  src/tr2/game/gameflow.c
  src/tr2/game/gameflow.h
  src/tr2/game/gameflow/gameflow_new.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.h
  src/tr2/game/phase/executor.c
  src/tr2/game/phase/executor.h
  src/tr2/game/phase/phase_cutscene.c
  src/tr2/game/phase/phase_demo.c
  src/tr2/game/phase/phase_game.c
  src/tr2/game/phase/phase_inventory.c
  src/tr2/game/phase/phase_picture.c
  src/tr2/game/phase/phase_stats.c
  src/tr2/game/phase/priv.h
  src/tr2/game/shell/common.c
  src/tr2/global/types_decomp.h
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: Internal, TR2

#2206 tr2/lara/control: fix testing triggers too early
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/game/collision.h
  src/tr2/game/lara/control.c
  src/tr2/game/objects/general/keyhole.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/objects/general/puzzle_hole.c
  src/tr2/game/objects/general/switch.c
Labels: TRX bug, TR2

#2220 tr1/phase/stats: convert to new style
  src/tr1/game/gameflow.c
  src/tr1/game/phase/phase.c
  src/tr1/game/phase/phase.h
  src/tr1/game/phase/phase_stats.c
  src/tr1/game/phase/phase_stats.h
Labels: Internal, TR1

#2241 tr1/phase/photo: fix z-order issues
  src/tr1/game/phase/phase_photo_mode.c
Labels: TRX bug, Unreleased, TR1

#2242 tr1/output: use tr2 Output_AnimateTextures method
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr1/game/phase/phase_cutscene.c
  src/tr1/game/phase/phase_demo.c
  src/tr1/game/phase/phase_game.c
Labels: TRX bug, Unreleased, TR1

#2243 libtrx/anims/frames: migrate TR1 frame handling to TRX
  src/libtrx/game/anims/common.c
  src/libtrx/game/anims/frames.c
  src/libtrx/include/libtrx/game/anims/common.h
  src/libtrx/meson.build
  src/tr1/game/inject.c
  src/tr1/game/inject.h
  src/tr1/game/level.c
  src/tr1/game/savegame/savegame_legacy.c
  src/tr1/global/types.h
  src/tr1/global/vars.c
  src/tr1/global/vars.h
Labels: Internal, TR1

#2249 phase/pause: improve ps1 compatibility
  docs/tr1/CHANGELOG.md
  src/libtrx/game/phase/phase_pause.c
Labels: Enhancement, Unreleased, TR2, TR1

#2257 tr1/objects/common: fix using key items on consumed slots
  docs/tr1/CHANGELOG.md
  src/libtrx/include/libtrx/game/objects/types.h
  src/tr1/game/objects/common.c
  src/tr1/game/objects/general/keyhole.c
  src/tr1/game/objects/general/puzzle_hole.c
  src/tr1/game/objects/setup.c
  src/tr1/game/objects/traps/midas_touch.c
Labels: TRX bug, TR1

#2268 inv-ring: fix options shutdown called too late
  docs/tr2/CHANGELOG.md
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, TR2

#2272 tr2/lara/hair: fix wind when dead
  docs/tr2/CHANGELOG.md
  src/tr2/game/lara/hair.c
Labels: TRX bug, TR2

#2273 tr2/savegame: fix SAVEGAME_INFO layout I/O
  docs/tr2/CHANGELOG.md
  docs/tr2/symbols.txt
  src/tr2/decomp/decomp.c
  src/tr2/decomp/savegame.c
  src/tr2/decomp/savegame.h
  src/tr2/game/inventory.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/savegame/common.c
  src/tr2/game/shell/common.c
  src/tr2/game/stats.c
  src/tr2/game/ui/widgets/stats_dialog.c
  src/tr2/global/types_decomp.h
Labels: TRX bug, TR2

#2279 tr2/inventory_ring/control: default to gym option until launched
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/decomp.c
  src/tr2/game/lara/control.c
Labels: TRX bug, TR2

#2283 tr1/data: change wolf eye colour
  data/tr1/ship/data/injections/caves_textures.bin
  data/tr1/ship/data/injections/qualopec_textures.bin
  data/tr1/ship/data/injections/valley_textures.bin
  data/tr1/ship/data/injections/vilcabamba_textures.bin
  docs/tr1/CHANGELOG.md
Labels: Data, Enhancement, TR1

#2287 camera: fix Lara's vision range
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/game/camera/types.h
  src/tr1/game/camera/common.c
  src/tr1/global/const.h
  src/tr2/game/camera.c
  src/tr2/global/const.h
Labels: TRX bug, Enhancement, TR2, TR1

#2289 phase/inventory: move to libtrx
  src/libtrx/game/inventory_ring/priv.c
  src/libtrx/game/phase/phase_inventory.c
  src/libtrx/game/phase/phase_pause.c
  src/libtrx/gfx/3d/3d_renderer.c
  src/libtrx/include/libtrx/game/inventory_ring.h
  src/libtrx/include/libtrx/game/inventory_ring/control.h
  src/libtrx/include/libtrx/game/inventory_ring/draw.h
  src/libtrx/include/libtrx/game/inventory_ring/priv.h
  src/libtrx/include/libtrx/game/inventory_ring/types.h
  src/libtrx/include/libtrx/game/overlay.h
  src/libtrx/include/libtrx/game/phase.h
  src/libtrx/include/libtrx/game/phase/phase_inventory.h
  src/libtrx/include/libtrx/gfx/3d/3d_renderer.h
  src/libtrx/meson.build
  src/tr1/game/gameflow.c
  src/tr1/game/inventory_ring.h
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/inventory_ring/control.h
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/inventory_ring/draw.h
  src/tr1/game/inventory_ring/vars.c
  src/tr1/game/inventory_ring/vars.h
  src/tr1/game/output.c
  src/tr1/game/overlay.c
  src/tr1/game/phase/phase.c
  src/tr1/game/phase/phase_inventory.h
  src/tr1/global/const.h
  src/tr1/meson.build
  src/tr1/specific/s_output.c
  src/tr1/specific/s_output.h
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.h
  src/tr2/game/inventory_ring/draw.c
  src/tr2/game/overlay.h
  src/tr2/game/phase.h
  src/tr2/game/phase/phase_inventory.c
  src/tr2/meson.build
Labels: Internal, TR2, TR1

#2296 tr1/option/option_sound: fix volume arrows display control
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_sound.c
Labels: TRX bug, TR1

#2299 Fix TR2 sound dialog freeze
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, Unreleased, TR2

#2301 cmd: fix /kill sometimes freezing the game
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/kill.c
Labels: TRX bug, TR2, TR1

#2303 tr2/inv-ring: fix flare counter showing up in NG+
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, Unreleased, TR2

#2307 libtrx/phase/phase_inventory: handle null ring on exit
  src/libtrx/game/phase/phase_inventory.c
Labels: TRX bug, Unreleased, TR2, TR1

#2305 output: fix underwater tint bleed
  src/libtrx/game/phase/phase_pause.c
  src/tr1/game/game/game_draw.c
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/overlay.c
  src/tr1/game/room_draw.c
  src/tr2/game/inventory_ring/draw.c
  src/tr2/game/overlay.c
  src/tr2/game/room_draw.c
Labels: TRX bug, Unreleased, TR2, TR1

#2312 tr2/game-string: split from gameflow
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr2/CHANGELOG.md
  src/libtrx/game/game_string_table/aliases.def
  src/libtrx/game/game_string_table/aliases_tr1.def
  src/libtrx/game/game_string_table/aliases_tr2.def
  src/libtrx/game/game_string_table/common.c
  src/libtrx/game/game_string_table/priv.h
  src/libtrx/game/game_string_table/reader.c
  src/libtrx/include/libtrx/game/game_string_table.h
  src/libtrx/meson.build
  src/tr2/decomp/decomp.c
  src/tr2/game/gameflow.c
  src/tr2/game/gameflow/gameflow_new.c
  src/tr2/game/gameflow/gameflow_new.h
  src/tr2/game/gameflow/reader.c
  src/tr2/game/shell/common.c
  tools/shared/linting.py
  tools/update_gameflow
Labels: Enhancement, TR2

#2314 tr2/shell: fix wireframe mode not set upon launch
  src/tr2/game/render/common.c
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR2

#2316 gfx: fix wireframe mode discarding transparent pixels
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/gfx/3d/3d_renderer.c
Labels: TRX bug, Enhancement, TR2, TR1

#2318 fader: don't draw transparent fades
  src/libtrx/game/fader.c
Labels: TRX bug, Unreleased, TR2, TR1

#2322 overlay: fix pausing pickups
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/overlay.c
  src/tr2/decomp/decomp.c
  src/tr2/game/game.c
  src/tr2/game/overlay.c
  src/tr2/game/overlay.h
Labels: TRX bug, TR2, TR1

#2326 tr2/objects/skidoo: fix snow wake effect
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/skidoo.c
  src/tr2/decomp/skidoo.h
Labels: TRX bug, TR2

#2328 tr1/level: reset static mesh mesh count
  docs/tr1/CHANGELOG.md
  src/tr1/game/level.c
Labels: TRX bug, TR1

#2331 types: use union for face textures
  src/libtrx/game/level/common.c
  src/libtrx/include/libtrx/game/types.h
  src/tr1/game/inject.c
  src/tr1/game/output.c
  src/tr2/game/output.c
  src/tr2/game/render/hwr.c
  src/tr2/game/render/swr.c
Labels: Internal, TR2, TR1

#2332 tr1/game_draw: reset output water status in cutscenes
  src/tr1/game/game/game_draw.c
Labels: TRX bug, Unreleased, TR1

#2333 level: read floor data in TRX
  src/libtrx/game/level/common.c
  src/libtrx/include/libtrx/game/level/common.h
  src/tr1/game/level.c
  src/tr1/global/types.h
  src/tr2/game/level.c
Labels: Internal, TR2, TR1

#2334 tr2/music/music_main: remove legacy music play
  src/tr2/game/item_actions.c
  src/tr2/game/music.h
  src/tr2/game/music/music_main.c
Labels: Internal, TR2

#2337 items: fix TR1 item underwater SFX test
  src/libtrx/game/items.c
Labels: TRX bug, Unreleased, TR1

#2366 tr2/lara/misc: fix joint position calculation
  src/tr2/game/lara/misc.c
Labels: TRX bug, Unreleased, TR2

#2368 tr2/game-flow: fix cheat_keys setting
  src/tr2/game/game.c
Labels: TRX bug, TR2

#2369 tr2/objects/creatures/bandit_2: fix bite position
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/creatures/bandit_2.c
Labels: TRX bug, TR2

#2373 rooms: use flip status flag for finding rooms
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/rooms/common.c
  src/libtrx/include/libtrx/game/rooms/common.h
  src/libtrx/include/libtrx/game/rooms/enum.h
  src/libtrx/include/libtrx/game/rooms/types.h
  src/tr1/game/level.c
  src/tr1/game/room.c
  src/tr2/game/level.c
  src/tr2/game/room.c
Labels: TRX bug, TR2, TR1

#2374 console/teleport: use higher Y value for item teleports
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/cmd/teleport.c
Labels: TRX bug, TR2, TR1

#2380 tr2/lara/cheat: reset gun status if undrawing weapons
  docs/tr2/CHANGELOG.md
  src/tr2/game/lara/cheat.c
Labels: TRX bug, TR2

#2385 tr2/inv-ring: fix play_any_level in Gym
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, TR2

#2387 tr1/fmv: stop FMV if game is exiting
  src/tr1/game/fmv.c
Labels: TRX bug, Unreleased, TR1

#2392 tr1/inv-ring: fix item counts staying at 1
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, Unreleased, TR1

#2398 tr1/lara/state: check for responsive state changes
  docs/tr1/CHANGELOG.md
  src/libtrx/include/libtrx/game/lara/enum_tr1.h
  src/tr1/game/lara/state.c
  src/tr1/game/lara/state.h
  src/tr1/game/level.c
Labels: TRX bug, TR1

#2408 level: fix reading mesh radius
  src/libtrx/game/level/common.c
Labels: TRX bug, Unreleased, TR2

#2417 tr1/data: fix underwater lever animation
  data/tr1/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  src/tr1/game/lara/state.c
Labels: TRX bug, Data, TR1
