Repository LostArtefacts/TRX, pull requests merged in 2025-10, with the labels that each got.

#3983 objects/movable_block: use default floor/ceiling when falling
  src/libtrx/game/objects/traps/movable_block.c
Labels: TRX bug, Unreleased, TR2, TR1

#3995 docs: improve formatting
  docs/4-GAME_STRINGS.md
  docs/5-game_flow/4-USER_CONFIGURATION.md
Labels: Internal

#3996 Update Italian translation
  data/common/ship/cfg/base_strings-it.json5
  tools/installer/TR1X_Installer/Resources/Lang/it.json
  tools/installer/TRX_InstallerLib/Resources/Lang/it.json
Labels: TR2, TR1, Translation

#3998 music: fix starting ambient track
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/game/game.c
  src/tr1/game/game_flow/sequencer_events.c
  src/tr2/game/game.c
  src/tr2/game/game_flow/sequencer_events.c
Labels: TRX bug, TR2, TR1

#4000 items: support names
  docs/6-lua/2-reference/4-ITEMS.md
  docs/6-lua/2-reference/9-MISC.md
  src/libtrx/game/items/common.c
  src/libtrx/game/lua/items.c
  src/libtrx/include/libtrx/game/items/common.h
  src/libtrx/include/libtrx/game/items/types.h
Labels: Feature, TR2, TR1

#4003 objects: fix more hard requirements
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/debug.h
  src/tr2/game/objects/creatures/cultist_1.c
  src/tr2/game/objects/creatures/dragon.c
  src/tr2/game/objects/creatures/xian_knight.c
  src/tr2/game/objects/creatures/xian_spearman.c
Labels: TRX bug, TR2

#4006 objects/movable_block: fix quadrant test
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/traps/movable_block.c
Labels: TRX bug, TR2, TR1
