Repository LostArtefacts/TRX, pull requests merged in 2025-02, with the labels that each got.

#2420 tr2/level: fix crash when freeing 16-bit textures
  src/libtrx/game/level/common.c
Labels: TRX bug, Unreleased, TR2

#2419 build: fix Linux builds missing XRandR support
  tools/tr1/docker/game-linux/Dockerfile
  tools/tr2/docker/game-linux/Dockerfile
Labels: TRX bug, Unreleased, TR2, TR1

#2423 input: fix saving custom controller layout
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/input/backends/controller.c
  src/libtrx/game/input/backends/keyboard.c
  src/libtrx/game/input/common.c
  src/libtrx/include/libtrx/game/input/backends/base.h
  src/libtrx/include/libtrx/game/input/common.h
  src/tr1/specific/s_shell.c
  src/tr2/game/shell/common.c
Labels: TRX bug, TR2, TR1

#2424 tr1/game-flow: fix revert to pistols option
  src/tr1/game/game_flow/sequencer.c
Labels: TRX bug, Unreleased, TR1

#2426 tr1/cutscene: restore manual camera positioning
  data/tr1/ship/cfg/TR1X_gameflow.json5
  docs/tr1/GAMEFLOW.md
  src/libtrx/game/game_flow/reader_tr1.def.c
  src/libtrx/include/libtrx/game/enum_map.def
  src/libtrx/include/libtrx/game/game_flow/enum.h
  src/libtrx/include/libtrx/game/game_flow/types.h
  src/tr1/game/game_flow/sequencer.c
Labels: TRX bug, Unreleased, TR1

#2427 tr2/shell: fix exiting the game
  src/tr2/game/shell/common.c
  src/tr2/main.c
Labels: TRX bug, Unreleased, TR2

#2451 rooms: move room draw tracking to TRX
  src/libtrx/game/rooms/draw.c
  src/libtrx/include/libtrx/game/rooms.h
  src/libtrx/include/libtrx/game/rooms/const.h
  src/libtrx/include/libtrx/game/rooms/draw.h
  src/libtrx/meson.build
  src/tr1/game/collide.c
  src/tr1/game/cutscene.c
  src/tr1/game/game/game_draw.c
  src/tr1/game/room.c
  src/tr1/game/room_draw.c
  src/tr1/global/const.h
  src/tr1/global/vars.c
  src/tr1/global/vars.h
  src/tr2/game/collide.c
  src/tr2/game/room.c
  src/tr2/game/room_draw.c
  src/tr2/game/room_draw.h
  src/tr2/global/const.h
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: Internal, TR2, TR1

#2464 game-flow: fix bonus levels support
  src/libtrx/game/game_flow/sequencer_events.c
  src/libtrx/include/libtrx/game/enum_map.def
  src/tr1/game/game_flow/sequencer_events.c
Labels: TRX bug, Unreleased, TR1

#2463 tr1/lara/cheat: retain current meshes in fly cheat
  docs/tr1/CHANGELOG.md
  src/tr1/game/lara/cheat.c
Labels: TRX bug, TR1

#2468 docs: document TR1 and TR2 OG levels
  docs/LEVELS.md
Labels: Internal, TR2, TR1

#2470 tr1/option/sound: fix too sensitive inputs
  src/tr1/game/option/option_sound.c
Labels: TRX bug, Unreleased, TR1

#2471 tr1/option: fix restart level save slot logic
  src/tr1/game/option/option_passport.c
Labels: TRX bug, Unreleased, TR1

#2475 game-flow: fix setting the NG+ flag
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow.json5
Labels: TRX bug, Unreleased, TR2, TR1

#2476 tr2/option/passport: rewrite and simplify
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/savegame.c
  src/tr2/game/option/option_passport.c
  src/tr2/game/requester.c
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: OG bug, Enhancement, TR2

#2477 tr2/text: fix scaling dragon icons
  docs/tr2/CHANGELOG.md
  src/libtrx/game/text_tr2.def
  src/tr2/game/text.c
Labels: OG bug, TR2

#2479 tr2/game-flow: fix carrying stats across cutscenes
  src/tr2/decomp/decomp.c
  src/tr2/decomp/decomp.h
  src/tr2/game/game_flow/sequencer_events.c
  src/tr2/game/stats.c
  src/tr2/game/stats.h
Labels: TRX bug, Unreleased, TR2

#2490 build: bump macos python to 3.13
  .github/actions/prepare_macos_tooling/action.yml
Labels: Internal

#2493 tr2/render: fix adjusting texel uvs
  src/tr2/game/render/common.c
Labels: TRX bug, Unreleased, TR2

#2495 tr2/sound: fix sound slot issues
  docs/tr2/CHANGELOG.md
  src/tr2/game/sound.c
Labels: TRX bug, TR2

#2499 tr1/game-flow: fix asking for saves condition
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_events.c
Labels: TRX bug, TR1

#2496 game-buf: rewrite to use arena allocator
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/game_buf.c
  src/libtrx/include/libtrx/game/game_buf.h
  src/libtrx/include/libtrx/memory.h
  src/libtrx/memory.c
  src/tr1/game/shell.c
  src/tr2/game/shell/common.c
Labels: Internal

#2488 build: replace gl_core_3_3.c with GLEW
  .github/actions/prepare_macos_tooling/action.yml
  src/libtrx/gfx/2d/2d_renderer.c
  src/libtrx/gfx/3d/vertex_stream.c
  src/libtrx/gfx/context.c
  src/libtrx/gfx/fade/fade_renderer.c
  src/libtrx/gfx/gl/gl_core_3_3.c
  src/libtrx/gfx/gl/utils.c
  src/libtrx/gfx/renderers/fbo_renderer.c
  src/libtrx/include/libtrx/gfx/2d/2d_surface.h
  src/libtrx/include/libtrx/gfx/3d/3d_renderer.h
  src/libtrx/include/libtrx/gfx/gl/buffer.h
  src/libtrx/include/libtrx/gfx/gl/gl_core_3_3.h
  src/libtrx/include/libtrx/gfx/gl/program.h
  src/libtrx/include/libtrx/gfx/gl/sampler.h
  src/libtrx/include/libtrx/gfx/gl/texture.h
  src/libtrx/include/libtrx/gfx/gl/utils.h
  src/libtrx/include/libtrx/gfx/gl/vertex_array.h
  src/libtrx/include/libtrx/gfx/screenshot.h
  src/libtrx/meson.build
  src/tr1/meson.build
  src/tr2/meson.build
  tools/additional_lint
  tools/tr1/docker/game-linux/Dockerfile
  tools/tr1/docker/game-win/Dockerfile
  tools/tr2/docker/game-linux/Dockerfile
  tools/tr2/docker/game-win/Dockerfile
Labels: Internal

#2503 tr1/config: change default fps to 60
  docs/tr1/CHANGELOG.md
  src/libtrx/config/map_tr1.def
Labels: Enhancement, TR1

#2507 tr1/game_flow: skip levels in story so far
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_events.c
Labels: TRX bug, TR1

#2509 filesystem: fix resolving case sensitive paths
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/filesystem.c
  src/tr2/game/music/music_backend_files.c
Labels: TRX bug, TR2, TR1

#2510 tr2/savegame: fix reading bools crashing on Linux
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/savegame.c
  src/tr2/decomp/savegame.h
Labels: TRX bug, TR2

#2505 option/passport: react faster to player inputs
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map_tr1.def
  src/libtrx/config/map_tr2.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/option.h
  src/tr1/game/option/option.c
  src/tr1/game/option/option_compass.c
  src/tr1/game/option/option_compass.h
  src/tr1/game/option/option_controls.c
  src/tr1/game/option/option_controls.h
  src/tr1/game/option/option_controls_pick.c
  src/tr1/game/option/option_controls_pick.h
  src/tr1/game/option/option_examine.c
  src/tr1/game/option/option_examine.h
  src/tr1/game/option/option_graphics.c
  src/tr1/game/option/option_graphics.h
  src/tr1/game/option/option_passport.c
  src/tr1/game/option/option_passport.h
  src/tr1/game/option/option_sound.c
  src/tr1/game/option/option_sound.h
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/option/option.c
  src/tr2/game/option/option.h
  src/tr2/game/option/option_compass.c
  src/tr2/game/option/option_controls.c
  src/tr2/game/option/option_detail.c
  src/tr2/game/option/option_passport.c
  src/tr2/game/option/option_sound.c
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/tr1/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/tr1/config/TR1X_ConfigTool/Resources/specification.json
  tools/tr2/config/TR2X_ConfigTool/Resources/Lang/en.json
  tools/tr2/config/TR2X_ConfigTool/Resources/specification.json
Labels: Enhancement, TR2, TR1

#2522 tr1/room: refresh track flags in gym
  docs/tr1/CHANGELOG.md
  src/tr1/game/room.c
Labels: TRX bug, TR1

#2517 tr1/passport: fix text disappearing too quickly
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_passport.c
  src/tr2/game/option/option_passport.c
Labels: TRX bug, TR1

#2519 tr1/passport: fix navigating to Select Level
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_passport.c
  src/tr2/game/option/option_passport.c
Labels: TRX bug, TR1

#2526 filesystem: fix checking for directory existence
  docs/tr2/CHANGELOG.md
  src/libtrx/filesystem.c
Labels: TRX bug, TR2

#2530 tr2/game-flow: fix saves losing secret rewards
  docs/tr2/CHANGELOG.md
  src/tr2/game/game_flow/sequencer_events.c
Labels: TRX bug, TR2

#2533 level: move animated texture reading fully to TRX
  src/libtrx/game/level/common.c
  src/libtrx/include/libtrx/game/level/common.h
  src/tr1/game/level.c
  src/tr2/game/level.c
Labels: Internal, TR2, TR1

#2534 objects: handle savegames by themselves
  src/libtrx/include/libtrx/game/objects/types.h
  src/libtrx/include/libtrx/game/savegame.h
  src/tr1/game/objects/creatures/baldy.c
  src/tr1/game/objects/creatures/cowboy.c
  src/tr1/game/objects/creatures/larson.c
  src/tr1/game/objects/creatures/pierre.c
  src/tr1/game/objects/creatures/pod.c
  src/tr1/game/objects/general/pickup.c
  src/tr1/game/objects/general/puzzle_hole.c
  src/tr1/game/objects/general/save_crystal.c
  src/tr1/game/objects/general/scion1.c
  src/tr1/game/objects/traps/movable_block.c
  src/tr1/game/objects/traps/sliding_pillar.c
  src/tr1/game/savegame/savegame.c
  src/tr2/decomp/savegame.c
  src/tr2/game/objects/creatures/dragon.c
  src/tr2/game/objects/creatures/dragon.h
  src/tr2/game/objects/creatures/skidoo_driver.c
  src/tr2/game/objects/general/movable_block.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/objects/general/puzzle_hole.c
  src/tr2/game/objects/general/window.c
  src/tr2/game/objects/traps/mine.c
Labels: Internal, TR2, TR1

#2543 tr2/commands: add /wireframe and /cheats
  docs/tr2/CHANGELOG.md
  docs/tr2/COMMANDS.md
  src/tr2/game/console/cmd/easy_config.c
  src/tr2/meson.build
Labels: Feature, TR2

#2546 tr2/flares: fix flare throw reset test
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/flares.c
  src/tr2/decomp/flares.h
Labels: TRX bug, TR2

#2553 tr2/inventory: fix flare pickup quantity
  docs/tr2/CHANGELOG.md
  src/tr2/game/inventory.c
Labels: TRX bug, TR2

#2555 tr1/controls: hide the reset and unbind texts when changing keys
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_controls.c
Labels: Enhancement, TR1

#2561 tr2/inventory: fix level number for play any level
  docs/tr2/CHANGELOG.md
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, TR2

#2562 tr1/objects/bear: apply AI fix in bear control
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/creatures/bear.c
Labels: TRX bug, TR1

#2568 tr1/objects/switch: fix underwater lever setup
  src/tr1/game/objects/general/switch.c
Labels: TRX bug, Unreleased, TR1
