Repository LostArtefacts/TRX, pull requests merged in 2025-03, with the labels that each got.

#2570 tr2/option_passport: apply play any level fixes
  docs/tr2/CHANGELOG.md
  src/tr2/game/option/option_passport.c
Labels: TRX bug, TR2

#2573 tr2/game_flow: fix losing NG+ flag in saves
  docs/tr2/CHANGELOG.md
  src/tr2/game/game_flow/sequencer_events.c
Labels: TRX bug, TR2

#2576 tr2/demo: restore config caching on demo start
  docs/tr2/CHANGELOG.md
  src/tr2/game/demo.c
Labels: TRX bug, TR2

#2571 tr1/lara/cheat: reset meshes in fly cheat
  docs/tr1/CHANGELOG.md
  src/tr1/game/lara/cheat.c
  src/tr1/game/lara/common.c
  src/tr1/game/savegame/savegame.c
Labels: TRX bug, TR1

#2588 tr1/inventory: respect busy hands status
  docs/tr1/CHANGELOG.md
  src/tr1/game/inventory.c
Labels: TRX bug, TR1

#2603 tr2/shell: fix crash when exiting with -l
  src/libtrx/include/libtrx/game/game_flow/types.h
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR2

#2614 tr2/text: fix combining characters not drawn
  src/tr2/game/text.c
Labels: TRX bug, Unreleased, TR2

#2618 tr1/game-flow: fix select level items loading
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_events.c
  src/tr1/game/option/option_passport.c
Labels: TRX bug, TR1

#2621 trapdoor: fix startup problems
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/general/trapdoor.c
  src/tr2/game/objects/general/trapdoor.c
Labels: TRX bug, TR1

#2624 tr2/render/hwr: reduce duplication
  src/tr2/game/render/hwr.c
Labels: Internal, TR2

#2625 cmd/flood: add room_num arg
  docs/tr1/COMMANDS.md
  docs/tr2/COMMANDS.md
  src/libtrx/game/console/cmd/flood.c
Labels: Enhancement, Unreleased, TR2, TR1

#2619 tr2: refactor sound effect loading
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_level.json5
  docs/GAME_FLOW.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/game_flow/common.c
  src/libtrx/game/game_flow/reader_tr2.def.c
  src/libtrx/include/libtrx/game/game_flow/types.h
  src/tr2/game/level.c
Labels: Feature, Internal, TR2

#2633 tr2/data: fix pickup mesh scaling and rotations
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/barkhang_pickup_meshes.bin
  data/tr2/ship/data/injections/common_pickup_meshes.bin
  data/tr2/ship/data/injections/deck_pickup_meshes.bin
  data/tr2/ship/data/injections/diving_itemrots.bin
  data/tr2/ship/data/injections/diving_pickup_meshes.bin
  data/tr2/ship/data/injections/floating_itemrots.bin
  data/tr2/ship/data/injections/floating_pickup_meshes.bin
  data/tr2/ship/data/injections/living_pickup_meshes.bin
  data/tr2/ship/data/injections/rig_itemrots.bin
  data/tr2/ship/data/injections/rig_pickup_meshes.bin
  data/tr2/ship/data/injections/wreck_pickup_meshes.bin
  data/tr2/ship/data/injections/xian_itemrots.bin
  data/tr2/ship/data/injections/xian_pickup_meshes.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#2635 tr1/level: play cutscene music normally
  docs/tr1/CHANGELOG.md
  src/tr1/game/level.c
Labels: TRX bug, TR1

#2638 cutscene: fix 60 fps camera jerking
  src/tr1/game/cutscene.c
  src/tr2/game/cutscene.c
Labels: Unreleased, TR2, TR1

#2639 misc: fix small memory leaks
  src/libtrx/filesystem.c
  src/libtrx/game/game_flow/reader_tr1.def.c
  src/tr1/game/savegame/savegame.c
Labels: Internal, TR2, TR1

#2645 tr2/objects/xian: fix Xian warriors twitching in 60 fps
  src/libtrx/include/libtrx/game/items/types.h
  src/tr1/game/items.c
  src/tr2/game/items.c
  src/tr2/game/objects/creatures/xian_knight.c
  src/tr2/game/objects/creatures/xian_spearman.c
Labels: TRX bug, Unreleased, TR2

#2650 tr1/savegame: fix removing requester heading early
  src/tr1/game/option/option_passport.c
  src/tr1/game/savegame/savegame.c
Labels: TRX bug, Unreleased, TR1

#2646 tr1/output: render room sprites using a new approach
  data/tr1/ship/shaders/3d.glsl
  data/tr1/ship/shaders/common.glsl
  data/tr1/ship/shaders/sprites.glsl
  data/tr2/ship/shaders/3d.glsl
  data/tr2/ship/shaders/common.glsl
  src/libtrx/game/output/textures.c
  src/libtrx/game/rooms/common.c
  src/libtrx/gfx/3d/3d_renderer.c
  src/libtrx/gfx/context.c
  src/libtrx/gfx/gl/vertex_array.c
  src/libtrx/gfx/renderers/fbo_renderer.c
  src/libtrx/gfx/renderers/legacy_renderer.c
  src/libtrx/include/libtrx/game/output/textures.h
  src/libtrx/include/libtrx/game/rooms/common.h
  src/libtrx/include/libtrx/gfx/3d/3d_renderer.h
  src/libtrx/include/libtrx/gfx/context.h
  src/libtrx/include/libtrx/gfx/gl/program.h
  src/libtrx/include/libtrx/gfx/gl/vertex_array.h
  src/libtrx/include/libtrx/gfx/renderer.h
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr1/game/output/sprites.c
  src/tr1/game/output/sprites.h
  src/tr1/game/output/textures.c
  src/tr1/game/output/textures.h
  src/tr1/game/room_draw.c
  src/tr1/meson.build
  src/tr1/specific/s_output.c
  src/tr1/specific/s_output.h
Labels: Enhancement, TR1

#2656 tr1/output: simplify frame drawing functions
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr1/game/text.c
  src/tr1/specific/s_output.c
  src/tr1/specific/s_output.h
  src/tr2/game/output.c
  src/tr2/game/output.h
Labels: Internal, TR1

#2657 tr1/output: color underwater sprites
  data/tr1/ship/shaders/sprites.glsl
  docs/tr1/CHANGELOG.md
  src/tr1/game/output/sprites.c
Labels: Enhancement, TR1

#2661 tr1/savegame_bson: handle Lara animation shift
  docs/tr1/CHANGELOG.md
  src/tr1/game/savegame/savegame_bson.c
Labels: TRX bug, TR1

#2669 tr2/game_flow: implement bonus level support
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/config/map_tr2.def
  src/libtrx/include/libtrx/config/types_tr2.h
  src/tr2/game/game_flow/sequencer_events.c
  src/tr2/game/game_string.def
  src/tr2/game/lara/control.c
  src/tr2/game/stats.c
  src/tr2/game/stats.h
  src/tr2/game/ui/widgets/stats_dialog.c
Labels: Feature, TR2

#2671 tr2/level: pre-load default statistics
  src/tr2/decomp/savegame.c
  src/tr2/decomp/savegame.h
  src/tr2/game/level.c
  src/tr2/game/level.h
  src/tr2/game/savegame/common.c
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR2

#2670 tr2/stats: allow two of each secret type
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/inventory.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/stats.c
  src/tr2/game/stats.h
  src/tr2/game/ui/widgets/stats_dialog.c
Labels: TRX bug, Enhancement, Unreleased, TR2

#2683 controls: fix console opening when remapping its key
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/option/option_controls.c
  src/tr1/game/option/option_controls.h
  src/tr1/specific/s_shell.c
  src/tr2/game/shell/common.c
Labels: TRX bug, TR2, TR1

#2687 build: simplify justfile and Docker structure
  .github/workflows/build_docker.yml
  justfile
  justfile.tr1
  justfile.tr2
  tools/shared/cli/game_docker_entrypoint.py
  tools/shared/docker/__init__.py
  tools/shared/docker/config/Dockerfile
  tools/shared/docker/config/entrypoint.sh
  tools/shared/docker/game-linux/Dockerfile
  tools/shared/docker/game-linux/entrypoint.sh
  tools/shared/docker/game-win/Dockerfile
  tools/shared/docker/game-win/entrypoint.sh
  tools/shared/docker/game-win/meson_linux_mingw32.txt
  tools/shared/docker/game_entrypoint.py
  tools/shared/docker/installer/Dockerfile
  tools/shared/docker/installer/entrypoint.sh
  tools/tr1/docker/game-linux/Dockerfile
  tools/tr1/docker/game-linux/entrypoint.sh
  tools/tr1/docker/game-win/entrypoint.sh
  tools/tr1/docker/installer/Dockerfile
  tools/tr1/docker/installer/entrypoint.sh
  tools/tr2/docker/config/Dockerfile
  tools/tr2/docker/config/entrypoint.sh
  tools/tr2/docker/game-linux/entrypoint.sh
  tools/tr2/docker/game-win/Dockerfile
  tools/tr2/docker/game-win/entrypoint.sh
  tools/tr2/docker/game-win/meson_linux_mingw32.txt
  tools/tr2/docker/installer/entrypoint.sh
Labels: Internal
