Repository LostArtefacts/TRX, pull requests merged in 2025-07, with the labels that each got.

#3405 items/anim: test for NO_ROOM in anim SFX
  src/libtrx/game/items/anim.c
Labels: TRX bug, Unreleased, TR2

#3410 viewport: consolidate fov apis
  src/libtrx/game/camera/cinematic.c
  src/libtrx/game/camera/photo_mode.c
  src/libtrx/game/lara/cheat.c
  src/libtrx/game/viewport.c
  src/libtrx/include/libtrx/game/viewport.h
  src/libtrx/meson.build
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/item_actions/lara_effects.c
  src/tr1/game/level.c
  src/tr1/game/output.c
  src/tr1/game/output/func.c
  src/tr1/game/overlay.c
  src/tr1/game/screen.c
  src/tr1/game/viewport.c
  src/tr1/game/viewport.h
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/shell/common.c
  src/tr2/game/viewport.c
  src/tr2/game/viewport.h
Labels: Internal, TR2, TR1

#3411 gfx: remove window size render strategy
  data/common/ship/cfg/TRX_common_strings-fr.json5
  data/common/ship/cfg/TRX_common_strings-it.json5
  data/common/ship/cfg/TRX_common_strings-pl.json5
  data/common/ship/cfg/TRX_common_strings.json5
  data/tr1/ship/cfg/TR1X_strings-fr.json5
  data/tr1/ship/cfg/TR1X_strings-it.json5
  data/tr1/ship/cfg/TR1X_strings-pl.json5
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings-fr.json5
  data/tr2/ship/cfg/TR2X_strings-it.json5
  data/tr2/ship/cfg/TR2X_strings-pl.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  src/libtrx/config/map_tr1.def
  src/libtrx/game/ui/dialogs/setting_helpers/enums.c
  src/libtrx/game/ui/dialogs/setting_tabs/graphic_rendering.def
  src/libtrx/gfx/context.c
  src/libtrx/gfx/renderer.c
  src/libtrx/gfx/renderers/legacy_renderer.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/gfx/common.h
  src/libtrx/include/libtrx/gfx/context.h
  src/libtrx/include/libtrx/gfx/renderer.h
  src/libtrx/include/libtrx/gfx/renderers/fbo_renderer.h
  src/libtrx/include/libtrx/gfx/renderers/legacy_renderer.h
  src/libtrx/meson.build
  src/tr1/game/game_string.def
  src/tr1/game/output.c
  src/tr2/game/game_string.def
  src/tr2/game/render/common.c
Labels: TR1

#3416 tr2/stats: fix support for levels with >3 secrets
  docs/tr2/CHANGELOG.md
  src/libtrx/game/stats.c
  src/libtrx/include/libtrx/game/inventory.h
  src/libtrx/include/libtrx/game/stats/common.h
  src/tr1/game/game_flow/sequencer_events.c
  src/tr1/game/inventory.c
  src/tr1/game/objects/general/pickup.c
  src/tr2/game/game_flow/sequencer_events.c
  src/tr2/game/inventory.c
  src/tr2/game/objects/general/pickup.c
  src/tr2/game/stats.c
  src/tr2/game/stats.h
  src/tr2/game/ui/dialogs/stats.c
Labels: TRX bug, TR2

#3419 shell: move window manipulation events to trx
  docs/tr1/CHANGELOG.md
  src/libtrx/game/shell/config.c
  src/libtrx/game/shell/events.c
  src/libtrx/game/shell/flow.c
  src/libtrx/include/libtrx/game/shell.h
  src/libtrx/include/libtrx/game/viewport.h
  src/libtrx/meson.build
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr1/game/shell/common.c
  src/tr1/game/viewport.c
  src/tr2/game/shell/common.c
  src/tr2/game/viewport.h
Labels: TRX bug, Internal, TR2, TR1

#3436 ui: delay draw operations; draw all ui at once
  src/libtrx/game/phase/executor.c
  src/libtrx/game/ui/common.c
  src/libtrx/game/ui/draw.c
  src/libtrx/game/ui/elements/fade.c
  src/libtrx/game/ui/elements/frame.c
  src/libtrx/game/ui/elements/modal.c
  src/libtrx/game/ui/text.c
  src/libtrx/include/libtrx/game/ui/common.h
  src/libtrx/include/libtrx/game/ui/draw.h
  src/libtrx/meson.build
Labels: Internal, TR2, TR1

#3442 shell: fix clock init before config
  src/libtrx/game/shell/flow.c
  src/libtrx/include/libtrx/game/shell.h
  src/tr1/game/shell/common.c
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR2, TR1

#3447 tr2/inventory_ring: fix play any level parameter
  docs/tr2/CHANGELOG.md
  src/tr2/game/inventory_ring/control.c
Labels: TRX bug, TR2

#3452 tr1/game-flow: fix inventory modifier with level 1
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_events.c
Labels: TRX bug, TR1

#3453 fmv: fix drawing ui over FMVs
  src/tr1/game/fmv.c
  src/tr2/game/fmv.c
Labels: Unreleased, TR2, TR1

#3468 tr2/output: fix texel adjustment for ingame sprites
  src/libtrx/game/phase/executor.c
  src/tr2/game/render/hwr.c
Labels: TRX bug, Unreleased, TR2

#3477 tr2/output: fix sprite shading
  docs/tr2/CHANGELOG.md
  src/tr2/game/output.c
Labels: TR2, TR1

#3484 tr1/shell: fix not reacting to fog/water changes
  src/libtrx/game/shell/config.c
  src/libtrx/include/libtrx/game/output/common.h
  src/tr2/game/output.h
  src/tr2/game/shell/common.c
Labels: TRX bug, Unreleased, TR1

#3487 tr1/output: make scissor test more lax
  src/libtrx/include/libtrx/game/viewport.h
  src/tr1/game/output/func.c
Labels: TRX bug, Unreleased, TR1

#3493 creature/common: retain only monks as allies
  docs/tr2/CHANGELOG.md
  src/libtrx/game/carrier.c
  src/libtrx/game/console/cmd/kill.c
  src/libtrx/game/creature/common.c
  src/libtrx/include/libtrx/game/creature/common.h
  src/libtrx/include/libtrx/game/objects/vars.h
  src/tr1/game/objects/vars.c
  src/tr2/game/gun/gun_misc.c
  src/tr2/game/objects/vars.c
Labels: TRX bug, TR2

#3497 console/cmd: fix console logging
  src/tr2/game/console/cmd/winston.c
Labels: TRX bug, Unreleased, TR2

#3501 game-strings: add Gaelic translation
  data/common/ship/cfg/TRX_common_strings-gd.json5
  data/tr1/ship/cfg/TR1X_strings-gd.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-gd.json5
  data/tr1/ship/cfg/TR1X_strings_level-gd.json5
  data/tr1/ship/cfg/TR1X_strings_ub-gd.json5
  data/tr2/ship/cfg/TR2X_strings-gd.json5
  data/tr2/ship/cfg/TR2X_strings_gm-gd.json5
  data/tr2/ship/cfg/TR2X_strings_level-gd.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Enhancement, TR2, TR1

#3508 tr1/output: fix pre-multiplied quad blending
  src/tr1/game/output.c
Labels: TRX bug, Unreleased, TR1

#3511 game-strings: add German translation
  data/common/ship/cfg/TRX_common_strings-de.json5
  data/tr1/ship/cfg/TR1X_strings-de.json5
  data/tr1/ship/cfg/TR1X_strings_demo_pc-de.json5
  data/tr1/ship/cfg/TR1X_strings_level-de.json5
  data/tr1/ship/cfg/TR1X_strings_ub-de.json5
  data/tr2/ship/cfg/TR2X_strings-de.json5
  data/tr2/ship/cfg/TR2X_strings_gm-de.json5
  data/tr2/ship/cfg/TR2X_strings_level-de.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Enhancement, TR2, TR1

#3515 tr2/data: fix Lara's Home window shards
  data/tr2/ship/data/injections/gym_textures.bin
  data/tr2/ship/data/injections/house_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#3519 tr1/output: allow skybox toggle in-game
  docs/tr1/CHANGELOG.md
  src/libtrx/game/inject/common.c
  src/tr1/game/level.c
  src/tr1/game/output/draw_misc.c
Labels: Enhancement, TR1

#3527 tr1/pickup: reset interact target on pickup
  docs/tr1/CHANGELOG.md
  src/tr1/game/objects/general/pickup.c
Labels: TRX bug, TR1

#3528 docs: update for website
  docs/1-COMMAND_LINE.md
  docs/2-COMMANDS.md
  docs/3-MIGRATING.md
  docs/4-GAME_STRINGS.md
  docs/5-game_flow/0-GLOBAL_PROPERTIES.md
  docs/5-game_flow/1-levels/0-REGULAR_LEVELS.md
  docs/5-game_flow/1-levels/1-CUTSCENE_PROPERTIES.md
  docs/5-game_flow/1-levels/2-FMV_PROPERTIES.md
  docs/5-game_flow/1-levels/4-DEMO_PROPERTIES.md
  docs/5-game_flow/1-levels/4-ITEM_DROPS.md
  docs/5-game_flow/1-levels/5-BONUS_LEVELS.md
  docs/5-game_flow/1-levels/README.md
  docs/5-game_flow/2-SEQUENCES.md
  docs/5-game_flow/3-COMMANDS.md
  docs/5-game_flow/4-USER_CONFIGURATION.md
  docs/5-game_flow/5-INJECTIONS.md
  docs/5-game_flow/README.md
  docs/6-WATER_COLORS.md
  docs/7-LEVELS.md
  docs/COMMAND_LINE.md
  docs/CONTRIBUTING.md
  docs/GAME_FLOW.md
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/README.md
Labels: Internal, Enhancement, TR2, TR1

#3535 savegame: fix case sensitivity
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/savegame/common.c
  src/libtrx/include/libtrx/strings/common.h
  src/libtrx/strings/case_funcs.c
Labels: TRX bug, TR2, TR1

#3536 tr2/final-cutscene: add fade-out effect
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/game/game.c
  src/libtrx/include/libtrx/game/game.h
  src/tr1/game/game/game.c
  src/tr1/game/game/game_draw.c
  src/tr2/game/game.c
  src/tr2/game/objects/general/final_cutscene.c
Labels: Enhancement, TR2

#3540 objects/flame: skip effects when object not present
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/effects/flame.c
Labels: TRX bug, TR2, TR1

#3547 music: fix playing cdaudio cutscenes
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/audio_stream.c
  src/libtrx/game/music/backend_cdaudio.c
Labels: TRX bug, TR2

#3538 tr1/data: fix Temple of the Cat camera
  data/tr1/ship/data/injections/cat_cameras.bin
  docs/tr1/CHANGELOG.md
Labels: OG bug, Data, TR1

#3552 gfx: fix bleeding blend mode
  docs/tr2/CHANGELOG.md
  src/libtrx/gfx/renderer.c
Labels: TRX bug, TR2

#3571 game-strings: fix French strings
  data/common/ship/cfg/TRX_common_strings-fr.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: TRX bug, TR2, TR1

#3576 docs: update install guide for website
  docs/tr1/INSTALLING.md
  docs/tr2/INSTALLING.md
Labels: Internal, TR2, TR1

#3580 tr1/data: add gun glow injection
  data/tr1/ship/cfg/tr1-demo-pc/gameflow.json5
  data/tr1/ship/cfg/tr1-level/gameflow.json5
  data/tr1/ship/cfg/tr1-ub/gameflow.json5
  data/tr1/ship/cfg/tr1/gameflow.json5
  data/tr1/ship/cfg/tr1/strings-de.json5
  data/tr1/ship/cfg/tr1/strings-fr.json5
  data/tr1/ship/cfg/tr1/strings-gd.json5
  data/tr1/ship/cfg/tr1/strings-it.json5
  data/tr1/ship/cfg/tr1/strings-pl.json5
  data/tr1/ship/cfg/tr1/strings.json5
  data/tr1/ship/data/injections/gun_glow.bin
  src/libtrx/include/libtrx/game/objects/ids_tr1.def
  src/libtrx/include/libtrx/game/objects/names_tr1.def
Labels: Internal, TR1

#3577 data: fix missing door SFX
  data/tr1/ship/cfg/tr1/gameflow.json5
  data/tr1/ship/data/injections/atlantis_door_sfx.bin
  data/tr1/ship/data/injections/mines_door_sfx.bin
  data/tr1/ship/data/injections/vilcabamba_door_sfx.bin
  data/tr2/ship/cfg/tr2-gm/gameflow.json5
  data/tr2/ship/cfg/tr2/gameflow.json5
  data/tr2/ship/data/injections/door107_sfx.bin
  data/tr2/ship/data/injections/door108_sfx.bin
  data/tr2/ship/data/injections/door111_sfx.bin
  data/tr2/ship/data/injections/gym_sfx.bin
  data/tr2/ship/data/injections/house_sfx.bin
  data/tr2/ship/data/injections/living_sfx.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr1/INSTALLING.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/INSTALLING.md
Labels: OG bug, Data, TR2, TR1

#3588 tr1/data: remove PC demo injections
  data/tr1/ship/cfg/tr1-demo-pc/gameflow.json5
Labels: Data, TR1

#3592 lara/state/land: add slide-to-run animation
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings.json5
  data/tr1/ship/data/injections/lara_animations.bin
  data/tr2/ship/cfg/tr2-gm/gameflow.json5
  data/tr2/ship/cfg/tr2-level/gameflow.json5
  data/tr2/ship/cfg/tr2/gameflow.json5
  data/tr2/ship/data/injections/lara_animations.bin
  docs/5-game_flow/5-INJECTIONS.md
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/INSTALLING.md
  src/libtrx/config/map.def
  src/libtrx/game/inject/common.c
  src/libtrx/game/lara/state.c
  src/libtrx/game/lara/state/land.c
  src/libtrx/game/ui/dialogs/setting_tabs/gameplay_controls.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/lara/enum.h
  src/tr2/game/savegame/savegame_bson.c
  src/tr2/game/savegame/savegame_legacy.c
Labels: Feature, Data, TR2, TR1

#3604 phase: simplify frame management
  src/libtrx/game/phase/executor.c
  src/libtrx/game/phase/phase_cutscene.c
  src/libtrx/game/phase/phase_demo.c
  src/libtrx/game/phase/phase_game.c
  src/libtrx/game/phase/phase_inventory.c
  src/libtrx/game/phase/phase_pause.c
  src/libtrx/game/phase/phase_photo_mode.c
  src/libtrx/game/phase/phase_picture.c
  src/libtrx/game/phase/phase_stats.c
  src/libtrx/game/photo_mode.c
  src/libtrx/include/libtrx/game/inventory_ring/control.h
  src/libtrx/include/libtrx/game/phase/types.h
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.h
Labels: Internal, TR2, TR1

#3601 test-replay: add game recorder and replay modules
  docs/1-COMMAND_LINE.md
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/input/common.c
  src/libtrx/game/random.c
  src/libtrx/game/shell/args.c
  src/libtrx/game/shell/config.c
  src/libtrx/game/shell/events.c
  src/libtrx/game/shell/flow.c
  src/libtrx/game/test_recorder.c
  src/libtrx/game/test_replay.c
  src/libtrx/include/libtrx/game/random.h
  src/libtrx/include/libtrx/game/shell/args.h
  src/libtrx/include/libtrx/game/shell/events.h
  src/libtrx/include/libtrx/game/shell/flow.h
  src/libtrx/include/libtrx/game/test_recorder.h
  src/libtrx/include/libtrx/game/test_replay.h
  src/libtrx/meson.build
  src/tr1/game/shell/common.c
  src/tr2/game/shell/common.c
Labels: Feature, Internal, TR2, TR1

#3603 data: improve twist animations
  data/tr1/ship/data/injections/lara_animations.bin
  data/tr2/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/include/libtrx/game/lara/enum.h
Labels: OG bug, Data, TR2, TR1

#3609 tr1/data: fix footstep animation commands
  data/tr1/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
Labels: TRX bug, Data, TR1

#3606 test-replay: improve syntax
  src/libtrx/game/shell/args.c
  src/libtrx/game/shell/flow.c
  src/libtrx/game/test_recorder.c
  src/libtrx/game/test_replay.c
Labels: Internal, TR2, TR1

#3608 tr2/data: fix medipack textures
  data/tr2/ship/cfg/tr2-gm/gameflow.json5
  data/tr2/ship/cfg/tr2/gameflow.json5
  data/tr2/ship/data/injections/barkhang_pickup_meshes.bin
  data/tr2/ship/data/injections/common_pickup_meshes.bin
  data/tr2/ship/data/injections/common_pickup_meshes_gm.bin
  data/tr2/ship/data/injections/deck_pickup_meshes.bin
  data/tr2/ship/data/injections/diving_pickup_meshes.bin
  data/tr2/ship/data/injections/floating_pickup_meshes.bin
  data/tr2/ship/data/injections/fools_pickup_meshes.bin
  data/tr2/ship/data/injections/furnace_pickup_meshes.bin
  data/tr2/ship/data/injections/living_pickup_meshes.bin
  data/tr2/ship/data/injections/rig_pickup_meshes.bin
  data/tr2/ship/data/injections/wreck_pickup_meshes.bin
  data/tr2/ship/data/injections/xian_pickup_meshes.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/INSTALLING.md
Labels: OG bug, Data, TR2

#3620 lara/state/jump: restore neutral jump twist
  data/common/ship/cfg/base_strings-de.json5
  data/common/ship/cfg/base_strings-fr.json5
  data/common/ship/cfg/base_strings-gd.json5
  data/common/ship/cfg/base_strings-it.json5
  data/common/ship/cfg/base_strings-pl.json5
  data/common/ship/cfg/base_strings.json5
  data/tr1/ship/data/injections/lara_animations.bin
  data/tr2/ship/data/injections/lara_animations.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/config/map.def
  src/libtrx/game/lara/look.c
  src/libtrx/game/lara/state.c
  src/libtrx/game/lara/state/jump.c
  src/libtrx/game/lara/state/land.c
  src/libtrx/game/ui/dialogs/setting_tabs/gameplay_controls.def
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/lara/enum.h
Labels: Feature, Data, TR2, TR1

#3624 data: add additional photo mode poses
  data/common/ship/cfg/poses.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Data, Enhancement, TR2, TR1

#3631 items/utils: test object loaded state on explode
  docs/tr1/CHANGELOG.md
  src/libtrx/game/items/utils.c
Labels: TRX bug, TR1

#3638 data: fix texture and static mesh issues
  data/tr1/ship/data/injections/cat_textures.bin
  data/tr1/ship/data/injections/egypt_textures.bin
  data/tr1/ship/data/injections/khamoon_textures.bin
  data/tr1/ship/data/injections/qualopec_textures.bin
  data/tr1/ship/data/injections/vilcabamba_textures.bin
  data/tr2/ship/data/injections/gym_textures.bin
  data/tr2/ship/data/injections/house_textures.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  src/libtrx/game/inject/editors/rooms.c
  src/libtrx/include/libtrx/game/inject/enum.h
Labels: OG bug, Data, TR2, TR1

#3640 tr1/data: adjust static mesh collision boxes
  data/tr1/ship/cfg/tr1/gameflow.json5
  data/tr1/ship/data/injections/cat_meshfixes.bin
  data/tr1/ship/data/injections/egypt_meshfixes.bin
  data/tr1/ship/data/injections/khamoon_meshfixes.bin
  data/tr1/ship/data/injections/obelisk_meshfixes.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr1/INSTALLING.md
Labels: OG bug, Data, TR1

#3652 sound: fix restoring volume
  src/libtrx/config/common.c
  src/libtrx/game/shell/flow.c
Labels: Unreleased, TR2, TR1

#3653 savegame: adjust Lara animation shift on load
  docs/tr1/CHANGELOG.md
  src/libtrx/include/libtrx/game/lara/const.h
  src/tr1/game/savegame/savegame_bson.c
  src/tr1/game/savegame/savegame_legacy.c
  src/tr2/game/savegame/savegame_bson.c
  src/tr2/game/savegame/savegame_legacy.c
Labels: TRX bug, Unreleased, TR2, TR1

#3660 data: fix missing/incorrect door SFX
  data/tr1/ship/cfg/tr1-ub/gameflow.json5
  data/tr1/ship/cfg/tr1/gameflow.json5
  data/tr1/ship/data/injections/door59_sfx.bin
  data/tr1/ship/data/injections/door61_sfx.bin
  data/tr1/ship/data/injections/qualopec_door_sfx.bin
  data/tr2/ship/cfg/tr2/gameflow.json5
  data/tr2/ship/data/injections/diving_sfx.bin
  data/tr2/ship/data/injections/door106_sfx.bin
  data/tr2/ship/data/injections/opera_sfx.bin
  data/tr2/ship/data/injections/portcullis_sfx.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/IMPROVEMENTS.md
  docs/tr1/INSTALLING.md
  docs/tr2/CHANGELOG.md
  docs/tr2/IMPROVEMENTS.md
  docs/tr2/INSTALLING.md
Labels: OG bug, Data, TR2, TR1
