Repository LostArtefacts/TRX, pull requests merged in 2025-04, with the labels that each got.

#2694 tr1/output: rewrite room drawing
  data/tr1/ship/shaders/common.glsl
  data/tr1/ship/shaders/meshes.glsl
  data/tr1/ship/shaders/sprites.glsl
  docs/tr1/CHANGELOG.md
  src/libtrx/gfx/gl/program.c
  src/libtrx/include/libtrx/gfx/gl/program.h
  src/tr1/game/level.c
  src/tr1/game/objects/common.c
  src/tr1/game/output.c
  src/tr1/game/output.h
  src/tr1/game/output/meshes.c
  src/tr1/game/output/meshes.h
  src/tr1/game/output/rooms.c
  src/tr1/game/output/rooms.h
  src/tr1/game/output/shader.c
  src/tr1/game/output/shader.h
  src/tr1/game/output/sprite_program.c
  src/tr1/game/output/sprite_program.h
  src/tr1/game/output/sprites.c
  src/tr1/game/output/textures.c
  src/tr1/game/output/textures.h
  src/tr1/game/output/utils.h
  src/tr1/game/overlay.c
  src/tr1/game/room_draw.c
  src/tr1/meson.build
  src/tr1/specific/s_output.c
Labels: Internal, Enhancement, TR1

#2702 objects: assign default sprite lighting if not set
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/objects/common.c
  src/tr2/game/objects/common.c
Labels: TRX bug, TR2, TR1

#2704 input: ignore ALT-F4 on Windows
  docs/tr1/CHANGELOG.md
  src/libtrx/game/input/backends/keyboard.c
Labels: TRX bug, TR2, TR1

#2712 items: handle null anims/frames for sprite objects
  docs/tr1/CHANGELOG.md
  src/libtrx/game/anims/common.c
  src/libtrx/game/anims/frames.c
  src/libtrx/game/items.c
  src/libtrx/game/level/common.c
  src/libtrx/include/libtrx/game/anims/common.h
  src/tr1/game/items.c
  src/tr2/game/items.c
Labels: TRX bug, TR1

#2715 tr1/output: improve scissor precision
  src/tr1/game/viewport.c
Labels: TRX bug, Unreleased, TR1

#2719 tr2/objects/harpoon_bolt: fix harpoon test on invalid objects
  src/tr2/game/objects/general/harpoon_bolt.c
Labels: TRX bug, Unreleased, TR2

#2724 tr2/sound: fix not able to completely mute sounds
  docs/tr2/CHANGELOG.md
  src/tr2/game/sound.c
Labels: OG bug, TR2

#2729 tr1/output: optimize uvw access
  data/tr1/ship/shaders/meshes.glsl
  data/tr1/ship/shaders/sprites.glsl
  src/libtrx/game/rooms/common.c
  src/libtrx/include/libtrx/game/output/common.h
  src/libtrx/include/libtrx/vector.h
  src/libtrx/vector.c
  src/tr1/game/output.c
  src/tr1/game/output/draw_misc.c
  src/tr1/game/output/meshes/common.h
  src/tr1/game/output/meshes/dynamic.c
  src/tr1/game/output/meshes/dynamic.h
  src/tr1/game/output/meshes/objects.c
  src/tr1/game/output/meshes/objects.h
  src/tr1/game/output/meshes/rooms.c
  src/tr1/game/output/meshes/rooms.h
  src/tr1/game/output/shader.c
  src/tr1/game/output/sprites.c
  src/tr1/game/output/sprites.h
  src/tr1/game/output/state.c
  src/tr1/game/output/textures.c
  src/tr1/game/output/textures.h
  src/tr1/game/output/vertex_range.c
  src/tr1/game/output/vertex_range.h
  src/tr1/meson.build
  src/tr2/game/output.c
Labels: Enhancement, Unreleased, TR1

#2732 tr2/option_passport: add new game options
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/config/map_tr2.def
  src/libtrx/game/savegame/common.c
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/gun/const.h
  src/tr1/game/game_string.def
  src/tr2/game/game_flow/sequencer_events.c
  src/tr2/game/gun/gun_misc.c
  src/tr2/game/inventory.c
  src/tr2/game/option/option_passport.c
  tools/config/TR2X_ConfigTool/Resources/Lang/en.json
  tools/config/TR2X_ConfigTool/Resources/Lang/it.json
  tools/config/TR2X_ConfigTool/Resources/specification.json
Labels: Feature, TR2

#2735 objects: raise static mesh slot capacity
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/inject/data/textures.c
  src/libtrx/game/inject/editors/meshes.c
  src/libtrx/game/level/common.c
  src/libtrx/game/objects/common.c
  src/libtrx/game/output/textures.c
  src/libtrx/include/libtrx/game/const.h
  src/libtrx/include/libtrx/game/objects/common.h
  src/tr1/game/level.c
  src/tr1/game/output/textures.c
  src/tr2/decomp/decomp.c
  src/tr2/game/level.c
Labels: Feature, TR2, TR1

#2730 tr2: make water color customizable like in TR1X
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/GAME_FLOW.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map_tr2.def
  src/libtrx/game/game_flow/reader.c
  src/libtrx/game/game_flow/reader_tr1.def.c
  src/libtrx/game/level/settings.c
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_flow/types.h
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/level.h
  src/libtrx/include/libtrx/game/level/settings.h
  src/libtrx/meson.build
  src/tr1/game/game_string.def
  src/tr1/game/level.c
  src/tr1/game/level.h
  src/tr1/game/output.c
  src/tr2/game/level.c
  src/tr2/game/level.h
  src/tr2/game/output.c
  src/tr2/game/output.h
  src/tr2/game/render/hwr.c
  src/tr2/game/render/swr.c
  src/tr2/game/ui/widgets/graphics_dialog.c
Labels: Feature, Unreleased, TR2

#2745 tr2: fix crashes when the images are missing
  docs/tr2/CHANGELOG.md
  src/libtrx/engine/image.c
  src/libtrx/game/game_flow/reader.c
  src/libtrx/game/phase/phase_stats.c
Labels: TRX bug, TR2

#2742 config: enhance enable_legal option
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/config/map_tr1.def
  src/libtrx/config/map_tr2.def
  src/libtrx/config/priv_tr1.c
  src/libtrx/game/game_flow/reader.c
  src/libtrx/game/game_flow/sequencer_events.c
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/game_flow/types.h
  tools/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/config/TR1X_ConfigTool/Resources/Lang/es.json
  tools/config/TR1X_ConfigTool/Resources/Lang/fr.json
  tools/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/config/TR1X_ConfigTool/Resources/specification.json
Labels: Enhancement, TR2, TR1

#2748 docs: link water color entries to the main table
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
Labels: Internal, Unreleased, TR2, TR1

#2747 anims: fix crash when an anim has no frames
  docs/tr2/CHANGELOG.md
  src/libtrx/game/anims/frames.c
Labels: TRX bug, TR2

#2738 tr1/room: add support for antitriggers
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/libtrx/include/libtrx/game/rooms/enum.h
  src/tr1/game/room.c
Labels: Feature, TR1

#2750 tr2/output: fix crashes in large rooms
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/game/enum_map.def
  src/libtrx/include/libtrx/game/game_buf.h
  src/tr2/game/output.c
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: OG bug, TR2

#2757 creature: set TR1 enemy room number above position
  docs/tr1/CHANGELOG.md
  src/libtrx/game/creature/common.c
Labels: OG bug, TR1

#2761 tr2/camera: determine room for in-game cutscenes
  docs/tr2/CHANGELOG.md
  src/tr2/game/camera.c
Labels: TRX bug, TR2

#2762 tr2/data: fix various softlocks
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/floating_fd.bin
  data/tr2/ship/data/injections/vegas_fd.bin
  data/tr2/ship/data/injections/xian_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/traps/spike_wall.c
Labels: OG bug, Feature, Data, TR2

#2765 room: ignore tilts in walls for the camera
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/camera/common.c
  src/libtrx/game/rooms/common.c
  src/libtrx/include/libtrx/game/rooms/common.h
Labels: TRX bug, TR2, TR1

#2766 tr2/objects/lift: adjust directional tests
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/lift.c
Labels: OG bug, TR2

#2770 tr2/objects/bird_guardian: restore bird guardian shadow
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/creatures/bird_guardian.c
Labels: OG bug, TR2

#2773 tr2/objects/waterfall: save waterfall flags
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/waterfall.c
  src/tr2/game/savegame/savegame_legacy.c
Labels: OG bug, TR2

#2775 tr2/savegame: save and load current music
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/config/map_tr2.def
  src/libtrx/include/libtrx/config/types.h
  src/libtrx/include/libtrx/config/types_tr1.h
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/enum_map.def
  src/tr1/global/enum_map.def
  src/tr2/game/savegame/savegame_bson.c
  tools/config/TR1X_ConfigTool/Resources/Lang/en.json
  tools/config/TR1X_ConfigTool/Resources/Lang/it.json
  tools/config/TR2X_ConfigTool/Resources/Lang/en.json
  tools/config/TR2X_ConfigTool/Resources/Lang/it.json
  tools/config/TR2X_ConfigTool/Resources/specification.json
  tools/config/TRX_ConfigToolLib/Resources/Lang/en.json
  tools/config/TRX_ConfigToolLib/Resources/Lang/it.json
Labels: Feature, TR2

#2778 tr1/game-flow: fix story so far showing up in UB
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer.h
  src/tr1/game/game_flow/sequencer_misc.c
  src/tr1/game/savegame/savegame.c
Labels: TRX bug, TR1

#2781 tr1/output: make sprites use the meshes shader
  data/tr1/ship/shaders/common.glsl
  data/tr1/ship/shaders/meshes.glsl
  data/tr1/ship/shaders/sprites.glsl
  src/tr1/game/output.c
  src/tr1/game/output/meshes/common.h
  src/tr1/game/output/sprites.c
Labels: Internal, TR1

#2780 tr1/game-flow: fix story so far not playing cafe.rpl
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_misc.c
Labels: TRX bug, TR1

#2783 tr1/output: use water tint for underwater pickups
  docs/tr1/CHANGELOG.md
  src/tr1/game/output/sprites.c
Labels: Enhancement, TR1

#2786 objects/movable_block: fix angle resetting and snapping
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/objects/common.c
  src/libtrx/game/objects/traps/movable_block.c
  src/libtrx/include/libtrx/game/objects/traps/movable_block.h
  src/libtrx/include/libtrx/game/objects/types.h
  src/tr1/game/objects/traps/movable_block.c
  src/tr2/game/objects/general/movable_block.c
Labels: OG bug, TR2, TR1

#2789 ui: fix flash not working
  src/libtrx/game/ui/elements/flash.c
Labels: TRX bug, Unreleased, TR2, TR1

#2790 tr1/ui: fix loading from empty slots
  src/tr1/game/option/option_passport.c
  src/tr1/game/ui/dialogs/save_slot.c
Labels: Unreleased, TR1

#2794 tr2/data: add missing 8 bit textures
  data/tr2/ship/data/injections/barkhang_pickup_meshes.bin
  data/tr2/ship/data/injections/boat_bits.bin
  data/tr2/ship/data/injections/common_pickup_meshes.bin
  data/tr2/ship/data/injections/cut4_textures.bin
  data/tr2/ship/data/injections/deck_pickup_meshes.bin
  data/tr2/ship/data/injections/diving_pickup_meshes.bin
  data/tr2/ship/data/injections/floating_pickup_meshes.bin
  data/tr2/ship/data/injections/font.bin
  data/tr2/ship/data/injections/fools_pickup_meshes.bin
  data/tr2/ship/data/injections/furnace_pickup_meshes.bin
  data/tr2/ship/data/injections/living_pickup_meshes.bin
  data/tr2/ship/data/injections/rig_pickup_meshes.bin
  data/tr2/ship/data/injections/wreck_pickup_meshes.bin
  data/tr2/ship/data/injections/xian_pickup_meshes.bin
  docs/tr2/CHANGELOG.md
Labels: TRX bug, Data, TR2

#2795 objects: use common approach for extra bone rotation
  src/libtrx/game/collision.c
  src/libtrx/game/level/common.c
  src/libtrx/game/objects/common.c
  src/libtrx/game/objects/creatures/bear.c
  src/libtrx/game/objects/creatures/wolf.c
  src/libtrx/include/libtrx/game/anims/types.h
  src/libtrx/include/libtrx/game/math/types.h
  src/libtrx/include/libtrx/game/objects/common.h
  src/libtrx/include/libtrx/game/objects/types.h
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/items.c
  src/tr1/game/objects/creatures/ape.c
  src/tr1/game/objects/creatures/baldy.c
  src/tr1/game/objects/creatures/centaur.c
  src/tr1/game/objects/creatures/cowboy.c
  src/tr1/game/objects/creatures/crocodile.c
  src/tr1/game/objects/creatures/larson.c
  src/tr1/game/objects/creatures/lion.c
  src/tr1/game/objects/creatures/mummy.c
  src/tr1/game/objects/creatures/mutant.c
  src/tr1/game/objects/creatures/natla.c
  src/tr1/game/objects/creatures/pierre.c
  src/tr1/game/objects/creatures/raptor.c
  src/tr1/game/objects/creatures/rat.c
  src/tr1/game/objects/creatures/skate_kid.c
  src/tr1/game/objects/creatures/torso.c
  src/tr1/game/objects/creatures/trex.c
  src/tr2/game/inventory_ring/draw.c
  src/tr2/game/items.c
  src/tr2/game/objects/creatures/bandit_1.c
  src/tr2/game/objects/creatures/bandit_2.c
  src/tr2/game/objects/creatures/barracuda.c
  src/tr2/game/objects/creatures/bird_guardian.c
  src/tr2/game/objects/creatures/cultist_1.c
  src/tr2/game/objects/creatures/cultist_2.c
  src/tr2/game/objects/creatures/cultist_3.c
  src/tr2/game/objects/creatures/diver.c
  src/tr2/game/objects/creatures/dog.c
  src/tr2/game/objects/creatures/dragon.c
  src/tr2/game/objects/creatures/monk.c
  src/tr2/game/objects/creatures/mouse.c
  src/tr2/game/objects/creatures/shark.c
  src/tr2/game/objects/creatures/tiger.c
  src/tr2/game/objects/creatures/trex.c
  src/tr2/game/objects/creatures/worker_1.c
  src/tr2/game/objects/creatures/worker_2.c
  src/tr2/game/objects/creatures/worker_3.c
  src/tr2/game/objects/creatures/xian_common.c
  src/tr2/game/objects/creatures/xian_knight.c
  src/tr2/game/objects/creatures/xian_spearman.c
  src/tr2/game/objects/creatures/yeti.c
Labels: Internal, TR2, TR1

#2798 docs: update docs for hotkeys fix
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, TR2

#2803 tr2/objects/gondola: save gondola position
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/traps/gondola.c
  src/tr2/game/savegame/savegame_legacy.c
Labels: OG bug, TR2

#2804 output: tidy shade constants
  data/tr1/ship/shaders/common.glsl
  src/libtrx/game/output/common.c
  src/libtrx/include/libtrx/game/output/const.h
  src/tr1/game/effects.c
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/items.c
  src/tr1/game/objects/common.c
  src/tr1/game/output.c
  src/tr1/game/output/meshes/objects.c
  src/tr1/game/output/meshes/rooms.c
  src/tr1/game/overlay.c
  src/tr1/game/spawn.c
  src/tr1/global/const.h
  src/tr2/game/effects.c
  src/tr2/game/gun/gun_misc.c
  src/tr2/game/inventory_ring/draw.c
  src/tr2/game/objects/common.c
  src/tr2/game/objects/effects/body_part.c
  src/tr2/game/output.c
  src/tr2/game/overlay.c
  src/tr2/game/render/hwr.c
  src/tr2/game/spawn.c
  src/tr2/game/text.c
  src/tr2/global/const.h
Labels: Internal, TR2, TR1

#2805 tr1/output: fix splash and bubbles having UW tint
  src/libtrx/include/libtrx/game/objects/vars.h
  src/tr1/game/effects.c
  src/tr1/game/objects/common.c
  src/tr1/game/objects/vars.c
  src/tr1/game/output.h
  src/tr1/game/output/draw_misc.c
  src/tr1/game/output/sprites.c
  src/tr1/game/output/sprites.h
  src/tr2/game/objects/vars.c
Labels: Unreleased, TR1

#2807 tr2/flares: fix flicker in 60 fps
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/flares.c
  src/tr2/game/lara/misc.c
Labels: TRX bug, OG bug, TR2

#2809 tr2/flares: fix thrown flares embedding in the ground
  docs/tr2/CHANGELOG.md
  src/tr2/decomp/flares.c
  src/tr2/game/output.c
  src/tr2/game/output.h
Labels: OG bug, TR2

#2810 inventory: merge g_Inv_Mode to libtrx
  src/libtrx/game/inventory.c
  src/libtrx/game/ui/dialogs/base_passport.c
  src/libtrx/game/ui/dialogs/save_slot.c
  src/libtrx/game/ui/dialogs/select_level.c
  src/libtrx/include/libtrx/game/inventory.h
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/option/option_passport.c
  src/tr1/global/vars.c
  src/tr1/global/vars.h
  src/tr2/game/inventory_ring/vars.c
  src/tr2/game/inventory_ring/vars.h
  src/tr2/game/option/option_passport.c
Labels: Internal, TR2, TR1

#2811 docs: update logos
  data/tr1/logo-dark-theme.png
  data/tr1/logo-light-theme.png
  data/tr1/logo.ai
  data/tr1/logo.png
  data/tr2/logo-dark-theme.png
  data/tr2/logo-light-theme.png
  data/tr2/logo.ai
  data/tr2/logo.png
  docs/tr1/README.md
  docs/tr2/README.md
Labels: Enhancement, TR2, TR1

#2815 build: skip installer builds for PRs and pre-releases
  .github/workflows/job_build_tr1.yml
  .github/workflows/job_build_tr2.yml
  .github/workflows/pr_builds.yml
  .github/workflows/prerelease.yml
  .github/workflows/release_tr1.yml
  .github/workflows/release_tr2.yml
Labels: Internal, TR2, TR1

#2817 gym: fix compiler warning
  src/libtrx/game/gym.c
Labels: Internal

#2824 ui: fix fader memory violation
  src/libtrx/game/ui/elements/fade.c
Labels: TRX bug, Unreleased, TR2, TR1

#2826 tr2/shell: improve moving window around
  docs/tr2/CHANGELOG.md
  src/libtrx/game/shell/common.c
  src/libtrx/include/libtrx/game/shell.h
  src/tr1/game/screen.c
  src/tr2/game/fmv.c
  src/tr2/game/shell/common.c
  src/tr2/game/viewport.c
Labels: Enhancement, TR2

#2828 misc: fix build warnings
  src/libtrx/filesystem.c
  src/libtrx/game/game_flow/reader.c
  src/libtrx/include/libtrx/filesystem.h
  src/tr2/game/items.c
  src/tr2/game/lara/draw.c
  src/tr2/game/level.c
Labels: Internal, TR2, TR1

#2836 graphic_settings: add scroll wraparound option
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/include/libtrx/game/game_string.def
  src/tr1/game/option/option_graphics.c
  src/tr2/game/ui/dialogs/graphic_settings.c
Labels: Enhancement

#2838 game: prioritize save over load
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/game/game.c
  src/tr2/game/game.c
Labels: TRX bug, TR2, TR1

#2843 tr2/ui: improve graphic settings dialog sizing
  docs/tr2/CHANGELOG.md
  src/libtrx/game/ui/elements/requester.c
  src/tr2/game/ui/dialogs/graphic_settings.c
  src/tr2/game/ui/dialogs/graphic_settings.h
Labels: Enhancement, TR2

#2839 option: port sound settings dialog to ui
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/music.c
  src/libtrx/game/ui/dialogs/sound_settings.c
  src/libtrx/game/ui/elements/stack.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/music/common.h
  src/libtrx/include/libtrx/game/sound/common.h
  src/libtrx/include/libtrx/game/ui.h
  src/libtrx/include/libtrx/game/ui/dialogs/sound_settings.h
  src/libtrx/meson.build
  src/tr1/game/music.c
  src/tr1/game/music.h
  src/tr1/game/option/option.c
  src/tr1/game/option/option_sound.c
  src/tr1/game/option/option_sound.h
  src/tr1/game/sound.c
  src/tr1/game/sound.h
  src/tr2/game/option/option_sound.c
  src/tr2/game/sound.h
Labels: Enhancement, TR2, TR1

#2855 docs: fix formatting and mistyped option name
  docs/MIGRATING.md
  docs/tr1/CHANGELOG.md
Labels: Internal, TR1

#2859 tools: download GM assets too
  .gitignore
  tools/download_assets
Labels: Internal, TR2

#2857 items: replace items by index rather than room
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/items.c
Labels: TRX bug, OG bug, TR2

#2861 tr2/viewport: fix screenshots at wrong resolution
  docs/tr2/CHANGELOG.md
  src/tr2/game/viewport.c
  src/tr2/game/viewport.h
Labels: TRX bug, TR2

#2858 game-strings: use OG JSON as a fallback in expansions
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/game_string_table/common.c
  src/libtrx/game/game_string_table/priv.h
  src/libtrx/game/game_string_table/reader.c
  src/libtrx/include/libtrx/game/game_string_table.h
  src/tr1/game/shell.c
  src/tr2/game/shell/common.c
Labels: Enhancement, TR2, TR1

#2864 tr2/inventory: fix button mashing loading game instead of saving
  docs/tr2/CHANGELOG.md
  src/tr1/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/option/option_passport.c
Labels: TRX bug, TR2

#2869 Fixes to game string tables
  src/libtrx/game/game_string_table/common.c
  src/libtrx/game/game_string_table/priv.c
Labels: TRX bug, Unreleased, TR2, TR1

#2875 room: fix abyss height check
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/rooms/common.c
  src/libtrx/include/libtrx/game/rooms/common.h
Labels: TRX bug, TR2, TR1

#2880 lara: test alignment position height validity in TR1
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/libtrx/game/lara/common.c
Labels: OG bug, TR1

#2882 ui: improve modal sizing
  src/libtrx/game/ui/common.c
  src/libtrx/game/ui/dialogs/photo_mode.c
  src/libtrx/game/ui/elements/modal.c
  src/libtrx/include/libtrx/game/ui/common.h
  src/tr1/game/ui/common.c
  src/tr1/meson.build
  src/tr2/game/ui/common.c
  src/tr2/meson.build
Labels: Internal, TR2, TR1

#2884 tr2/objects/switch: align Lara after airlock test
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/general/switch.c
Labels: OG bug, TR2

#2888 audio/stream: fix crashes if the file does not exist
  docs/tr1/CHANGELOG.md
  src/libtrx/engine/audio_stream.c
Labels: TRX bug, TR1

#2889 console/cmd: make /set error output more helpful
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/enum_map.c
  src/libtrx/game/console/cmd/config.c
  src/libtrx/include/libtrx/enum_map.h
  src/libtrx/include/libtrx/game/game_string.def
Labels: Enhancement, TR2, TR1

#2890 gf: fix invalid events handling
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/game_flow/reader.c
Labels: TRX bug, Internal, TR2, TR1

#2892 tools/installer: always allow TR2 music download
  docs/tr2/CHANGELOG.md
  tools/installer/TR2X_Installer/Installers/GenericInstallSource.cs
Labels: TRX bug, TR2

#2893 console: fix duplicate entries in history
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/console/history.c
Labels: Enhancement, TR2, TR1

#2897 tr1/output: fix water caustics issues
  docs/tr1/CHANGELOG.md
  src/tr1/game/output/meshes/common.h
  src/tr1/game/output/meshes/dynamic.c
  src/tr1/game/output/meshes/dynamic.h
  src/tr1/game/output/meshes/objects.c
  src/tr1/game/output/meshes/rooms.c
Labels: TRX bug, TR1
