Repository LostArtefacts/TRX, pull requests merged in 2025-05, with the labels that each got.

#2898 tr2/gun: prevent gun control in extra anim state
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/gun/gun.c
Labels: OG bug, TR2

#2899 tr1/overlay: rewrite to ui
  src/libtrx/game/inventory_ring/priv.c
  src/libtrx/game/phase/executor.c
  src/libtrx/game/ui/common.c
  src/libtrx/game/ui/elements/ammo_label.c
  src/libtrx/game/ui/elements/flash.c
  src/libtrx/game/ui/elements/fps_counter.c
  src/libtrx/game/ui/elements/label.c
  src/libtrx/game/ui/hud/console.c
  src/libtrx/include/libtrx/game/lara/const.h
  src/libtrx/include/libtrx/game/overlay.h
  src/libtrx/include/libtrx/game/ui.h
  src/libtrx/include/libtrx/game/ui/elements/ammo_label.h
  src/libtrx/include/libtrx/game/ui/elements/flash.h
  src/libtrx/include/libtrx/game/ui/elements/fps_counter.h
  src/libtrx/include/libtrx/game/ui/helpers.h
  src/libtrx/include/libtrx/game/ui/hud/overlay.h
  src/libtrx/meson.build
  src/tr1/game/console/common.c
  src/tr1/game/demo.c
  src/tr1/game/game/game.c
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/inventory_ring/draw.c
  src/tr1/game/output.c
  src/tr1/game/overlay.c
  src/tr1/game/overlay.h
  src/tr1/game/shell.c
  src/tr1/game/ui/elements/bar.c
  src/tr1/game/ui/elements/bar.h
  src/tr1/game/ui/elements/bar_enemy_hp.c
  src/tr1/game/ui/elements/bar_enemy_hp.h
  src/tr1/game/ui/elements/bar_lara_air.c
  src/tr1/game/ui/elements/bar_lara_air.h
  src/tr1/game/ui/elements/bar_lara_hp.c
  src/tr1/game/ui/elements/bar_lara_hp.h
  src/tr1/game/ui/hud/overlay.c
  src/tr1/game/ui/hud/overlay.h
  src/tr1/global/const.h
  src/tr1/global/types.h
  src/tr1/meson.build
  src/tr2/game/overlay.c
  src/tr2/game/ui/hud/overlay.c
  src/tr2/game/ui/hud/overlay.h
  src/tr2/global/const.h
  src/tr2/meson.build
Labels: Internal, TR1

#2902 items: restore extra rotation in TR1 exploding items
  src/libtrx/game/items.c
Labels: Internal, TR1

#2912 items: refactor items modules
  src/libtrx/game/items.c
  src/libtrx/game/items/anim.c
  src/libtrx/game/items/col.c
  src/libtrx/game/items/common.c
  src/libtrx/game/items/utils.c
  src/libtrx/include/libtrx/game/items.h
  src/libtrx/include/libtrx/game/items/anim.h
  src/libtrx/include/libtrx/game/items/col.h
  src/libtrx/include/libtrx/game/items/common.h
  src/libtrx/include/libtrx/game/items/misc.h
  src/libtrx/include/libtrx/game/items/utils.h
  src/libtrx/meson.build
Labels: Internal, TR2, TR1

#2919 tr1/data: fix various sprite alignments
  data/tr1/ship/cfg/TR1X_gameflow.json5
  data/tr1/ship/cfg/TR1X_gameflow_demo_pc.json5
  data/tr1/ship/cfg/TR1X_gameflow_level.json5
  data/tr1/ship/cfg/TR1X_gameflow_ub.json5
  data/tr1/ship/data/injections/cat_textures.bin
  data/tr1/ship/data/injections/egypt_textures.bin
  data/tr1/ship/data/injections/sprite_alignment.bin
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/libtrx/game/inject/editors/textures.c
  src/libtrx/include/libtrx/game/inject/enum.h
Labels: OG bug, Data, TR1

#2920 game: move level complete flag to TRX
  src/libtrx/game/game.c
  src/libtrx/include/libtrx/game/game.h
  src/tr1/game/demo.c
  src/tr1/game/game/game.c
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/item_actions/finish_level.c
  src/tr1/game/lara/cheat.c
  src/tr1/game/level.c
  src/tr1/game/room.c
  src/tr1/global/vars.c
  src/tr1/global/vars.h
  src/tr2/decomp/decomp.c
  src/tr2/game/game.c
  src/tr2/game/item_actions.c
  src/tr2/game/lara/cheat.c
  src/tr2/game/lara/cheat_keys.c
  src/tr2/game/lara/state.c
  src/tr2/game/objects/traps/dying_monk.c
  src/tr2/game/room.c
  src/tr2/global/vars.c
  src/tr2/global/vars.h
Labels: Internal, TR2, TR1

#2922 tr1/room: allow isolated flip effect triggers
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  src/tr1/game/room.c
Labels: Feature, TR1

#2923 lara: use common LOT for sinks
  src/libtrx/include/libtrx/game/lara/types.h
  src/tr2/game/lara/control.c
  src/tr2/game/lara/misc.c
  src/tr2/game/lot.c
  src/tr2/game/lot.h
  src/tr2/game/room.c
  src/tr2/game/savegame/savegame_legacy.c
Labels: Internal, TR2

#2931 console: clear playing flag after issuing a gf cmd
  src/libtrx/game/phase/executor.c
Labels: TRX bug, Unreleased, TR2, TR1

#2932 option: fix select level not reacting to menu back
  docs/tr1/CHANGELOG.md
  src/tr1/game/option/option_passport.c
Labels: TRX bug, TR1

#2935 tr2/savegame: move first level inventory allocation to game flow
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  docs/MIGRATING.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/savegame/common.c
Labels: TRX bug, Enhancement, TR2

#2941 memory: zero arena contents on reset
  docs/tr2/CHANGELOG.md
  src/libtrx/memory.c
Labels: TRX bug, TR2

#2942 rooms: merge NO_ROOM definitions
  src/libtrx/game/console/cmd/pos.c
  src/libtrx/game/level/common.c
  src/libtrx/game/objects/general/door.c
  src/libtrx/game/rooms/common.c
  src/libtrx/include/libtrx/game/rooms/common.h
  src/libtrx/include/libtrx/game/rooms/const.h
  src/libtrx/include/libtrx/game/rooms/types.h
  src/tr1/game/camera/common.c
  src/tr1/game/output/meshes/rooms.c
  src/tr1/game/output/sprites.c
  src/tr2/decomp/decomp.c
  src/tr2/game/camera.c
  src/tr2/game/objects/general/cutscene_player.c
  src/tr2/game/room.c
Labels: Internal, TR2, TR1

#2943 tr2/room: remove cinematic room initialiser
  src/tr2/game/cutscene.c
  src/tr2/game/room.c
  src/tr2/game/room.h
  src/tr2/meson.build
Labels: Internal, TR2

#2945 inject: add support to overwrite sector properties
  src/libtrx/game/inject/editors/floor_data.c
  src/libtrx/include/libtrx/game/inject/enum.h
Labels: Internal, TR2, TR1

#2947 camera: generate box data when none is present
  docs/tr1/CHANGELOG.md
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/camera/common.c
  src/libtrx/include/libtrx/game/camera/common.h
  src/tr1/game/camera/common.c
  src/tr2/game/camera.c
Labels: OG bug, TR2, TR1

#2949 tr2/data: fix wall light mesh positions
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/barkhang_textures.bin
  data/tr2/ship/data/injections/bartoli_textures.bin
  data/tr2/ship/data/injections/venice_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#2951 tr2/objects/bartoli: replace hard-coded shift with injection
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/lair_bartolipos.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/objects/creatures/bartoli.c
Labels: OG bug, Data, TR2

#2953 tr1/creatures: simplify child item storage
  src/tr1/game/carrier.c
  src/tr1/game/objects/creatures/pod.c
  src/tr1/game/objects/creatures/statue.c
  src/tr1/game/stats/common.c
Labels: Internal, TR1

#2961 camera: fix TR1 fixed cameras
  src/libtrx/game/camera/common.c
Labels: TRX bug, Unreleased, TR1

#2970 tr1/output: skip portal drawing in rooms that have none
  docs/tr1/CHANGELOG.md
  src/tr1/game/output/draw_misc.c
Labels: TRX bug, TR1

#2969 tr1/stats: copy level stats death count to final stats
  docs/tr1/CHANGELOG.md
  src/tr1/game/stats/common.c
Labels: TRX bug, TR1

#2967 creature: restore death state based on type ID
  docs/tr1/CHANGELOG.md
  src/libtrx/game/creature/common.c
  src/libtrx/include/libtrx/game/creature/types.h
  src/tr1/game/objects/creatures/crocodile.c
  src/tr1/game/objects/creatures/rat.c
Labels: TRX bug, TR1

#2972 camera: maintain TR2 camera glide speed when set
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/barkhang_cameras.bin
  data/tr2/ship/data/injections/deck_cameras.bin
  data/tr2/ship/data/injections/diving_cameras.bin
  data/tr2/ship/data/injections/kingdom_cameras.bin
  data/tr2/ship/data/injections/wall_cameras.bin
  data/tr2/ship/data/injections/wreck_cameras.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/config/map_tr2.def
  src/libtrx/game/camera/common.c
  src/libtrx/game/inject/editors/floor_data.c
  src/libtrx/include/libtrx/config/types_tr2.h
  src/libtrx/include/libtrx/game/inject/enum.h
  tools/config/TR2X_ConfigTool/Resources/Lang/en.json
  tools/config/TR2X_ConfigTool/Resources/Lang/it.json
  tools/config/TR2X_ConfigTool/Resources/specification.json
Labels: OG bug, TR2

#2976 camera: move main shifting functions to TRX
  src/libtrx/game/camera/common.c
  src/libtrx/include/libtrx/game/camera/common.h
  src/tr1/game/camera/common.c
  src/tr2/game/camera.c
  src/tr2/game/camera.h
Labels: Internal, TR2, TR1

#2981 docs: update docs for save crystal animation
  docs/tr1/CHANGELOG.md
Labels: Unreleased, TR1

#2983 tr2/objects/rolling_ball: fix blood spawn argument order
  docs/tr2/CHANGELOG.md
  src/tr2/game/objects/traps/rolling_ball.c
Labels: TRX bug, TR2

#2984 tr1/output: fix animated textures in flipped rooms
  docs/tr1/CHANGELOG.md
  src/libtrx/game/rooms/common.c
  src/tr1/game/output/meshes/rooms.c
Labels: TRX bug, TR1

#2985 docs: add TRLE Lara animation docs
  docs/GAME_FLOW.md
Labels: TR1

#2996 tr1/game-flow: fix Lara not having weapons with -l/--level
  docs/tr1/CHANGELOG.md
  src/tr1/game/game_flow/sequencer_events.c
Labels: TRX bug, TR1

#2997 inv-ring: fix items freezing when ring is rotating
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/inventory_ring/control.c
  src/tr1/game/inventory_ring/draw.c
  src/tr2/game/inventory_ring/control.c
  src/tr2/game/inventory_ring/draw.c
Labels: TRX bug, TR2, TR1

#2998 gun: fix pistols when wading with a wet rifle
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/tr1/game/gun/gun.c
  src/tr2/game/gun/gun.c
Labels: TRX bug, TR2, TR1

#3002 box: remove zone skipping on load
  src/libtrx/game/inject/editors/floor_data.c
  src/libtrx/game/level/common.c
  src/libtrx/game/pathing/box.c
  src/libtrx/include/libtrx/game/pathing/box.h
Labels: Internal, TR2

#3010 tr1/lara/cheat: add lead bar to all items cheat
  docs/tr1/CHANGELOG.md
  src/tr1/game/lara/cheat.c
Labels: Enhancement, TR1

#3009 movable_block: fix state tests for killed blocks
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/traps/movable_block.c
Labels: TRX bug, TR2, TR1

#3011 tr2/option: add reset controls layout function
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr2/CHANGELOG.md
  src/libtrx/game/input/common.c
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/game/ui/elements/span.c
  src/libtrx/include/libtrx/game/game_string.def
  src/libtrx/include/libtrx/game/input/backends/controller_tr2.def
  src/libtrx/include/libtrx/game/input/backends/keyboard_tr2.def
  src/libtrx/include/libtrx/game/input/common.h
  src/libtrx/include/libtrx/game/input/roles.def
  src/libtrx/include/libtrx/game/input/roles_tr1.def
  src/libtrx/include/libtrx/game/ui.h
  src/libtrx/include/libtrx/game/ui/dialogs/controls_editor.h
  src/libtrx/include/libtrx/game/ui/elements/span.h
  src/libtrx/meson.build
Labels: Feature, TR2

#3014 inv-ring: fix wrong item rotations when spinning out
  src/tr1/game/inventory_ring/draw.c
  src/tr2/game/inventory_ring/draw.c
Labels: TRX bug, Unreleased, TR2, TR1

#3016 tr2/overlay: use console for overlay messages
  docs/tr2/CHANGELOG.md
  src/libtrx/game/phase/phase_inventory.c
  src/libtrx/include/libtrx/game/overlay.h
  src/tr1/game/overlay.c
  src/tr2/game/overlay.c
  src/tr2/game/overlay.h
  src/tr2/game/shell/input.c
Labels: Enhancement, TR2

#3017 tr1/savegame: fix crash in cutscenes
  src/tr1/game/savegame/savegame.c
Labels: TRX bug, Unreleased, TR1

#3020 tr1/option: redesign controls dialog
  data/tr1/ship/cfg/TR1X_strings.json5
  data/tr2/ship/cfg/TR2X_strings.json5
  docs/tr1/CHANGELOG.md
  src/libtrx/game/input/backends/controller.c
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/include/libtrx/game/game_string.def
  src/tr1/game/game_string.def
  src/tr1/game/option/option.c
  src/tr1/game/option/option_controls.c
  src/tr1/game/option/option_controls.h
  src/tr1/game/option/option_controls_pick.c
  src/tr1/game/option/option_controls_pick.h
  src/tr1/meson.build
  src/tr1/specific/s_shell.c
Labels: Enhancement, TR1

#3024 option: fix top row save dialog not highlighted
  docs/tr2/CHANGELOG.md
  src/tr1/game/option/option_passport.c
  src/tr2/game/option/option_passport.c
Labels: TRX bug, Unreleased, TR2, TR1

#3027 savegame: fix death counter overwriting level number
  docs/tr1/CHANGELOG.md
  src/libtrx/game/savegame/common.c
  src/libtrx/include/libtrx/game/savegame/types.h
  src/tr1/game/savegame/savegame_bson.c
  src/tr2/game/savegame/savegame_bson.c
Labels: TRX bug, TR1

#3029 ui/scrollable: fix clamping first row
  src/libtrx/game/ui/scrollable.c
Labels: TRX bug, Unreleased, TR2, TR1

#3030 phase/pause: use more faithful transparency
  docs/tr1/CHANGELOG.md
  docs/tr2/CHANGELOG.md
  src/libtrx/game/phase/phase_pause.c
  src/libtrx/include/libtrx/game/fader.h
Labels: Enhancement, TR2, TR1

#3031 tr2/option: improve passport animation
  docs/tr1/README.md
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/inventory_ring/priv.c
Labels: OG bug, Enhancement, TR2

#3039 camera: respect NO_BOX in shift tests
  src/libtrx/game/camera/common.c
  src/libtrx/game/pathing/box.c
Labels: Internal, Unreleased, TR2, TR1

#3041 bear: test for creature data presence on death
  docs/tr2/CHANGELOG.md
  src/libtrx/game/objects/creatures/bear.c
Labels: TRX bug, TR2

#3044 docs: improve release documentation
  docs/CONTRIBUTING.md
  tools/release
Labels: Internal

#3045 tr2/data: fix Ice Palace springboard trigger
  data/tr2/ship/data/injections/palace_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#3048 overlay: fix bottom text arrows jumping
  docs/tr1/CHANGELOG.md
  src/libtrx/game/ui/elements/row_arrows.c
  src/libtrx/game/ui/hud/overlay.c
  src/libtrx/include/libtrx/game/ui/elements/row_arrows.h
Labels: TRX bug, TR2, TR1

#3047 misc: fix found memory leaks and buffer overflows
  docs/tr1/CHANGELOG.md
  src/libtrx/game/music/backend_files.c
  src/libtrx/game/ui/dialogs/controls_editor.c
  src/libtrx/game/ui/dialogs/photo_mode.c
  src/libtrx/game/ui/dialogs/save_slot.c
  src/libtrx/game/ui/elements/button_label.c
  src/libtrx/game/ui/elements/fps_counter.c
  src/libtrx/game/ui/elements/label.c
  src/libtrx/include/libtrx/game/ui/elements/label.h
  src/libtrx/include/libtrx/strings/common.h
  src/libtrx/screenshot.c
  src/libtrx/strings/common.c
  src/tr2/global/vars.c
Labels: TRX bug, TR2, TR1

#3054 tr2/lara/state: trigger pickup display on dagger pull
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/dagger_sprite.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/game/lara/state.c
Labels: Data, Enhancement, TR2

#3059 tr2/data: restore missing collapsible tile SFX
  data/tr2/ship/cfg/TR2X_gameflow.json5
  data/tr2/ship/data/injections/breakable_tile_sfx.bin
  data/tr2/ship/data/injections/loose_boards_sfx.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/libtrx/game/inject/common.c
Labels: OG bug, Data, TR2

#3060 tr2/data: fix Golden Mask skyboxes
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/coldwar_textures.bin
  data/tr2/ship/data/injections/kingdom_textures.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#3061 tr2/data: fix The Cold War collapsible tile trigger
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/coldwar_fd.bin
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
Labels: OG bug, Data, TR2

#3063 tr2/objects/final_level_counter: fix boss proximity logic
  docs/tr2/CHANGELOG.md
  docs/tr2/README.md
  src/tr2/decomp/decomp.c
  src/tr2/game/objects/general/final_level_counter.c
Labels: OG bug, TR2

#3080 tr2/data: rotate Golden Mask 3D pickup items
  data/tr2/ship/cfg/TR2X_gameflow_gm.json5
  data/tr2/ship/data/injections/catacombs_itemrots.bin
  data/tr2/ship/data/injections/coldwar_itemrots.bin
  data/tr2/ship/data/injections/fools_itemrots.bin
  data/tr2/ship/data/injections/furnace_itemrots.bin
  data/tr2/ship/data/injections/kingdom_itemrots.bin
  data/tr2/ship/data/injections/vegas_itemrots.bin
  docs/tr2/CHANGELOG.md
Labels: Data, Enhancement, TR2

#3085 tr2/savegame_legacy: fix reading Lara flags
  src/tr2/game/savegame/savegame_legacy.c
Labels: TRX bug, Unreleased, TR2

#3086 tr2/gun: fix extra anim gun reset
  docs/tr2/CHANGELOG.md
  src/tr2/game/gun/gun.c
Labels: TRX bug, TR2
